#what.grid.selected

  .topspacer
    %h1
      The Isdfrnet, peer reviewed.
    %hr

  .row
    %p.em.slot-0-1
      Imagine if wherever we encountered new information, sentence by sentence, frame by frame, we could easily know the best thinking on it.
    %p.em.slot-2-3
      Imagine if we had confidence that this represented the combined wisdom of the most informed people--not as anointed by editors, but as weighed over time by our peers, objectively, statistically and transparently.
    %p.em.slot-4-5
      Imagine if this created a powerful incentive for people to ensure that their works met a higher standard, and made it perceptibly harder to spread information that didn't meet that standard.
  .row
    %p.strong.slot-0-1-2
      These goals are possible with today's technologies.
    %p.strong.slot-3-4-5
      They are the objectives of Hypothes.is.
