* {margin:0; padding:0}

.hotspot {cursor:pointer}

#tt {position:absolute; display:block;}

#ttcont {
		display:block;
		padding:10px 20px 10px 10px;
		margin-left:5px;
		background:#f2f0e3;
		color: #313132;
		-moz-border-radius: 6px;
  	-webkit-border-radius: 6px;
  	box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}