@import url(https://fonts.googleapis.com/css?family=Merriweather:400,900);
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 16, site.css.sass */
body {
  font-size: 16px;
  color: #777777;
  font-family: "Merriweather", sans-serif;
  line-height: 1.7em; }

/* line 22, site.css.sass */
ol, ul {
  margin: 1em 0;
  padding-left: 2em; }

/* line 26, site.css.sass */
ol {
  list-style-type: decimal; }

/* line 29, site.css.sass */
li {
  margin-bottom: 0.5em; }

/* line 32, site.css.sass */
.list {
  list-style-type: circle; }

/* line 35, site.css.sass */
blockquote, q {
  quotes: none; }

/* line 39, site.css.sass */
blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 43, site.css.sass */
input, textarea, select {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 6px;
  margin-bottom: 9px;
  color: #777777;
  background-color: white !important;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  -moz-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  -o-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease; }
  /* line 55, site.css.sass */
  input:focus, textarea:focus, select:focus {
    outline: 0;
    border: 1px solid #959595;
    -webkit-box-shadow: inset 1px 1px 6px -2px #959595;
    -moz-box-shadow: inset 1px 1px 6px -2px #959595;
    box-shadow: inset 1px 1px 6px -2px #959595; }
  /* line 59, site.css.sass */
  input.error, textarea.error, select.error {
    background-image: url("../images/delete_4.png");
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 1px solid #bd5862; }

/* line 67, site.css.sass */
label.error {
  display: block;
  background: rgba(200, 34, 12, 0.1);
  border-radius: 4px;
  color: #bd5862;
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0 !important; }

/* line 86, site.css.sass */
select {
  padding: 4px 8px; }

/* line 90, site.css.sass */
br {
  margin: 0; }

/* line 94, site.css.sass */
q:before, q:after {
  content: "";
  content: none; }

/* line 98, site.css.sass */
p {
  margin: 0 0 1em; }

/* line 101, site.css.sass */
code {
  background-color: #f4f4f4;
  font-family: Menlo, "Panic Sans", monospace;
  font-size: 0.875em; }

/* line 106, site.css.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 110, site.css.sass */
strong {
  font-weight: bold; }

/* line 113, site.css.sass */
em, .em {
  font-style: italic; }

/* line 116, site.css.sass */
.strong {
  font-weight: bold; }

/* line 119, site.css.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: 1.2em;
  margin: 0 0 0.4em;
  padding: 0 0 0.1em;
  color: #777777; }

/* line 127, site.css.sass */
h1 {
  font-size: 2.5em; }

/* line 130, site.css.sass */
h2 {
  font-size: 2em; }

/* line 133, site.css.sass */
h3 {
  font-size: 1.7em;
  margin: 0; }

/* line 137, site.css.sass */
h4 {
  font-size: 1.25em;
  margin: 0 0 0.1em; }

/* line 142, site.css.sass */
h5, h6 {
  font-size: 1em;
  margin: 0 0 0.1em; }

/* line 147, site.css.sass */
a {
  color: #bd5862;
  -webkit-transition: color 0.2s ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.2s ease-in 0.2s;
  -o-transition: color 0.2s ease-in 0.2s;
  transition: color 0.2s ease-in 0.2s;
  text-decoration: underline; }
  /* line 151, site.css.sass */
  a:link, a:visited {
    text-decoration: underline; }
  /* line 153, site.css.sass */
  a:active {
    text-decoration: none; }
  /* line 155, site.css.sass */
  a:hover {
    color: #bd1c2b; }

/* line 158, site.css.sass */
img {
  max-width: 100%; }

/* line 161, site.css.sass */
.mn {
  margin: 0; }

/* line 164, site.css.sass */
.mt {
  margin-top: 1em; }

/* line 167, site.css.sass */
.mb {
  margin-bottom: 1em; }

/* line 171, site.css.sass */
hr {
  border: none;
  margin: 0;
  position: relative;
  background-color: #e0e0e0;
  height: 1px; }
  /* line 177, site.css.sass */
  hr.big {
    border: none;
    margin: 0;
    height: 3px; }
  /* line 181, site.css.sass */
  hr.blank {
    background-color: transparent;
    height: 0.5em; }
  /* line 184, site.css.sass */
  hr.spaced {
    margin-top: 1em;
    margin-bottom: 1em; }

/* line 189, site.css.sass */
.spacer {
  height: 3em; }

/* line 197, site.css.sass */
#pagetainer {
  width: 640px;
  margin-left: 170px;
  height: 100%;
  background: white; }

/* line 204, site.css.sass */
.page {
  width: 600px;
  margin: 0 auto; }

/* line 208, site.css.sass */
.row {
  clear: both;
  position: relative;
  *zoom: 1; }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .row:after {
    content: "";
    display: table;
    clear: both; }

/* line 213, site.css.sass */
.vertspace {
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 230, site.css.sass */
.one_whole {
  width: 600px;
  float: left;
  height: auto;
  margin-right: 20px;
  margin-right: 0; }
  /* line 221, site.css.sass */
  .one_whole.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .one_whole.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 236, site.css.sass */
.one_half {
  width: 290px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .one_half.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .one_half.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 240, site.css.sass */
.one_third {
  width: 186.66667px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .one_third.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .one_third.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 244, site.css.sass */
.two_thirds {
  width: 393.33333px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .two_thirds.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .two_thirds.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 249, site.css.sass */
.one_fourth {
  width: 135px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .one_fourth.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .one_fourth.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 253, site.css.sass */
.two_fourths {
  width: 290px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .two_fourths.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .two_fourths.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 257, site.css.sass */
.three_fourths {
  width: 445px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .three_fourths.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .three_fourths.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 262, site.css.sass */
.one_fifth {
  width: 104px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .one_fifth.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .one_fifth.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 266, site.css.sass */
.two_fifths {
  width: 228px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .two_fifths.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .two_fifths.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 270, site.css.sass */
.three_fifths {
  width: 352px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .three_fifths.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .three_fifths.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 274, site.css.sass */
.four_fifths {
  width: 476px;
  float: left;
  height: auto;
  margin-right: 20px; }
  /* line 221, site.css.sass */
  .four_fifths.last {
    margin-right: 0;
    padding-right: 0; }
  /* line 224, site.css.sass */
  .four_fifths.right_float {
    margin-left: 20px;
    margin-right: 0;
    float: right;
    clear: none; }

/* line 281, site.css.sass */
.redbotbor {
  border-bottom: 3px solid #bd1c2b;
  -webkit-box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1); }

/* line 285, site.css.sass */
.redtext {
  color: #bd1c2b; }

/* line 288, site.css.sass */
.well {
  display: inline-block;
  min-height: 20px;
  padding: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.05); }
  /* line 294, site.css.sass */
  .well.last {
    padding: 1em; }

/* line 297, site.css.sass */
#navtainer {
  position: fixed;
  top: 50px;
  left: 0;
  width: 127px;
  padding: 20px;
  padding-left: 0;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }
  /* line 308, site.css.sass */
  #navtainer img {
    width: 100px;
    float: right;
    clear: both;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0; }

/* line 316, site.css.sass */
#navlist {
  font-family: "myriad-pro";
  font-weight: 400;
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: 1em; }
  /* line 324, site.css.sass */
  #navlist li {
    margin: 0;
    margin-bottom: 0.7em;
    padding: 0;
    line-height: 1em; }
  /* line 330, site.css.sass */
  #navlist ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 0.5em;
    margin-right: 0.5em;
    border-right: 1px dotted #e0e0e0; }
  /* line 339, site.css.sass */
  #navlist a {
    text-decoration: none;
    color: #777777; }
    /* line 342, site.css.sass */
    #navlist a:hover {
      color: #bd1c2b; }
    /* line 344, site.css.sass */
    #navlist a.hover {
      color: #bd1c2b; }

/* line 347, site.css.sass */
.section {
  margin-bottom: 2em; }

/* line 350, site.css.sass */
.topspacer {
  height: 161px; }

/* line 353, site.css.sass */
.sectitle {
  margin: 0 0 20px;
  border-bottom: 1px solid #e0e0e0; }

/* line 357, site.css.sass */
.pic_placeholder {
  background: black;
  height: 435px; }

/* line 362, site.css.sass */
.faq {
  margin-top: -1.5em; }

/* line 365, site.css.sass */
.principles {
  margin-top: -1.5em; }

/* line 368, site.css.sass */
.what {
  padding-top: 4px; }

/* line 373, site.css.sass */
.workshop {
  padding-top: 0.5em; }

/* line 376, site.css.sass */
.contact-form {
  padding-top: 0.5em; }

/* line 383, site.css.sass */
.picunit {
  padding-bottom: 1em;
  margin-right: 0;
  padding-right: 20px; }
  /* line 387, site.css.sass */
  .picunit img {
    border-bottom: 3px solid #bd1c2b;
    width: 100%;
    -webkit-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1); }
  /* line 391, site.css.sass */
  .picunit .caption {
    font-family: "myriad-pro";
    font-size: 0.7em;
    line-height: 1em;
    margin-top: 0.4em; }
  /* line 396, site.css.sass */
  .picunit .hovertext {
    font-family: "myriad-pro";
    font-size: 0.9em;
    line-height: 1em;
    margin-top: 0.4em; }

/* line 405, site.css.sass */
.tipper {
  cursor: pointer; }

/* line 408, site.css.sass */
.tip {
  z-index: 1;
  overflow: hidden; }
  /* line 412, site.css.sass */
  .tip p {
    font-size: 0.9em; }

/* line 418, site.css.sass */
.principle, .faqunit {
  *zoom: 1;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 100%; }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .principle:after, .faqunit:after {
    content: "";
    display: table;
    clear: both; }
  /* line 424, site.css.sass */
  .principle .number, .faqunit .number {
    float: left;
    width: 60px;
    height: 100%;
    text-align: center; }
    /* line 429, site.css.sass */
    .principle .number h2, .faqunit .number h2 {
      color: #bd1c2b; }
  /* line 431, site.css.sass */
  .principle .text, .faqunit .text {
    float: left; }
    /* line 433, site.css.sass */
    .principle .text .collapsee, .faqunit .text .collapsee {
      font-size: 0.9em; }
    /* line 436, site.css.sass */
    .principle .text div, .faqunit .text div {
      color: #959595;
      overflow: hidden; }
  /* line 442, site.css.sass */
  .principle:hover .text div, .faqunit:hover .text div {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    color: #777777; }

/* line 446, site.css.sass */
.speclist {
  *zoom: 1;
  height: 100%; }
  /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .speclist:after {
    content: "";
    display: table;
    clear: both; }
  /* line 449, site.css.sass */
  .speclist .number {
    float: left;
    min-width: 60px;
    margin-top: -0.3em;
    text-align: center; }
    /* line 454, site.css.sass */
    .speclist .number h1 {
      color: #bd1c2b;
      font-size: 3em;
      margin-bottom: 0;
      padding-bottom: 0; }
  /* line 460, site.css.sass */
  .speclist .text div {
    color: #959595;
    overflow: hidden; }
  /* line 466, site.css.sass */
  .speclist:hover .text div {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    color: #777777; }

/* line 472, site.css.sass */
.faqunit .triangle {
  float: left;
  width: 60px;
  text-align: center; }
  /* line 476, site.css.sass */
  .faqunit .triangle .img {
    height: 35px;
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/triangle_right.png");
    background-size: 100% 100%; }
/* line 487, site.css.sass */
.faqunit.collapsed .triangle .img {
  background-image: url("../images/triangle_down.png");
  background-size: 100% 100%; }

/* line 492, site.css.sass */
.pressunit {
  padding-bottom: 2em;
  margin-top: 2em;
  border-bottom: 1px solid #e0e0e0; }
  /* line 496, site.css.sass */
  .pressunit h3 {
    margin-top: -0.4em; }
  /* line 498, site.css.sass */
  .pressunit .picunit {
    margin-bottom: 0; }
  /* line 501, site.css.sass */
  .pressunit.last {
    border-bottom: none; }
  /* line 503, site.css.sass */
  .pressunit .one-fourth {
    margin-bottom: 0; }
  /* line 505, site.css.sass */
  .pressunit .text {
    font-size: 0.9em;
    line-height: 1.3em; }
    /* line 508, site.css.sass */
    .pressunit .text div {
      margin-top: 0.4em; }

/* line 512, site.css.sass */
.realvid {
  margin-bottom: 40px; }

/* line 515, site.css.sass */
.frontpage-top {
  padding-bottom: 0; }

/* line 519, site.css.sass */
.twitbird {
  margin: -10px;
  width: 60px;
  background-image: url("../images/twitbird_gray.png");
  height: 60px;
  background-size: 100% 100%; }
  /* line 525, site.css.sass */
  .twitbird:hover {
    background-image: url("../images/twitbird_red.png"); }

/* line 533, site.css.sass */
.frontpage-bottom .well {
  height: 380px;
  margin-top: 20px; }

/* line 538, site.css.sass */
.tweet-list {
  font-family: sans-serif;
  padding-left: 0;
  margin-top: 0;
  line-height: 1.3em;
  font-size: 0.9em; }
  /* line 544, site.css.sass */
  .tweet-list li {
    *zoom: 1;
    clear: none;
    position: relative;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #e0e0e0; }
    /* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .tweet-list li:after {
      content: "";
      display: table;
      clear: both; }
    /* line 551, site.css.sass */
    .tweet-list li.first {
      margin-top: 0;
      border-top: none; }

/* line 555, site.css.sass */
.morelink {
  font-family: "myriad-pro";
  font-size: 0.9em;
  float: right; }

/* line 560, site.css.sass */
.tweet-odd, .tweet-even {
  margin-top: 1em;
  padding-top: 1em; }

/* line 565, site.css.sass */
.tweet-first {
  margin-top: 0;
  border-top: none; }

/* line 569, site.css.sass */
.tweet-avatar {
  margin-right: 10px; }

/* line 572, site.css.sass */
.tweet-time {
  color: #bd1c2b;
  font-size: 0.8em; }

/* line 576, site.css.sass */
.tweet-text {
  display: block; }

/* line 579, site.css.sass */
.tweet-avacase {
  height: 100%;
  display: inline-block;
  float: left; }

/* line 585, site.css.sass */
.tweet-content {
  float: left;
  width: 85%; }

/* line 591, site.css.sass */
form {
  font-family: "myriad-pro", sans-serif; }

/* line 595, site.css.sass */
.contact-form #note_message {
  height: 200px;
  width: 100%; }
/* line 598, site.css.sass */
.contact-form #submit_btn {
  clear: both;
  float: right; }
/* line 601, site.css.sass */
.contact-form .identification {
  width: 40%;
  float: right;
  clear: left; }
  /* line 605, site.css.sass */
  .contact-form .identification input, .contact-form .identification textarea, .contact-form .identification select {
    width: 100%; }

/* line 623, site.css.sass */
.chromebutton {
  width: 5.5em;
  height: 5.5em;
  background-size: 5.5em 5.5em;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: left;
  margin-top: 0.5em;
  background-image: url("../images/chrome-logo.png"); }

/* line 630, site.css.sass */
.firefoxbutton {
  width: 5.5em;
  height: 5.5em;
  background-size: 5.5em 5.5em;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0.5em;
  float: left;
  clear: none;
  background-image: url("../images/firefox-logo-gray.png"); }

/* line 637, site.css.sass */
.firefoxbig {
  background-image: url("../images/firefox-logo-gray.png"); }

/* line 641, site.css.sass */
.button {
  display: inline-block;
  postion: relative;
  line-height: 1.1em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-decoration: none;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: black !important;
  box-sizing: border-box;
  box-shadow: none; }
  /* line 661, site.css.sass */
  .button:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(50%, #f4f4f4), color-stop(51%, #e2e2e2), color-stop(100%, #fdfdfd));
    background-image: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
    background-image: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
    background-image: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
    background-image: linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.45); }
  /* line 664, site.css.sass */
  .button:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(50%, #f3f3f3), color-stop(51%, #e1e1e1), color-stop(100%, #fbfbfb));
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
    background-image: -o-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
    background-image: linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
    -webkit-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
    -moz-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
    box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25); }
  /* line 668, site.css.sass */
  .button:focus {
    outline: 0;
    border: 1px solid #959595;
    -webkit-box-shadow: inset 1px 1px 6px -2px #959595;
    -moz-box-shadow: inset 1px 1px 6px -2px #959595;
    box-shadow: inset 1px 1px 6px -2px #959595; }

/* line 677, site.css.sass */
#register_form label {
  padding-bottom: 0.5em; }
/* line 679, site.css.sass */
#register_form input, #register_form textarea, #register_form select {
  display: block;
  width: 100%; }
/* line 682, site.css.sass */
#register_form .button {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  width: auto; }

/* line 688, site.css.sass */
input, textarea, select, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

/* line 692, site.css.sass */
.donateform {
  border: none;
  outline: none; }

/* line 696, site.css.sass */
.buttonwrap {
  text-align: center;
  margin-bottom: 1em; }
