
#wrapper {
  color: #414141;
  margin: 0 auto;
  width: 949px;
}

a {
  color: #414141;
  text-decoration: none;
}

#continue,
#main {
  font-family: 'Myriad Pro', sans-serif;
  text-transform: uppercase;
}

#continue,
#main,
#celebration .subtitle {
  margin: 0 auto;
  width: 762px;
}

span.red {
  color: #c11c2d;
}

#continue {
  font-size: 36px;
  font-weight: bold;
  margin: 5px auto;
  text-align: center;
}

#celebration {
  font-size: x-small;
  font-weight: bold;
}

#celebration .subtitle {
  display: block;
  margin-top: 5px;
  text-align: right;
}

#main {
  margin-top: 30px;
  text-align: justify;
}

#logo {
  float: left;
  margin: 25px 0 0 5px;
}

#logo img {
  border-width: 0;
}

h1 {
  margin: -10px 0 0;
}

h1 div {
  line-height: 110%;
  margin: 0;
}

h1 .title1,
h1 .title2 {
  text-align: right;
}

h1 .title3 {
  clear: left;
}

h1 .title1 { font-size: 103.29px; }
h1 .title2 { font-size: 75.38px; }
h1 .title3 { font-size: 70.01px; }
h1 .title4 { font-size: 55.42px; }
h1 .title5 { font-size: 51.5px; }

#donors {
  clear: both;
  font-weight: bold;
  margin: 50px 0 0;
}

#donors div {
  line-height: 1em;
}

#donors .label {
  margin: 30px 0 10px;
}

#donors .value {
  text-align: left;
}

#donors .donors1,
#donors .donors2,
#donors .donors3,
#donors .donors4 { font-size: 38px; }
#donors .donors1 .value { font-size: 141.92px; margin-top: -20px; }

#donors .donors2 .value,
#donors .donors3 .value,
#donors .donors4 .value { font-size: 40px; }

#donors .donors5,
#donors .donors6,
#donors .donors7 {
  font-size: 26px;
}

#donors .donors5 .label,
#donors .donors6 .label,
#donors .donors7 .label,
#donors .donors8 .label { margin-bottom: 5px; }

#donors .donors8 { font-size: 18px; }

#donors small {
  display: block;
  margin: 40px 0 20px;
}
