
#account #wrapper {
  margin: 30px 0;
  padding: 0;
  width: 540px;
}

#account #logo {
  float: left;
  text-align: center;
  width: 185px;
}
#account #content {
  margin-left: 185px;
}

#account h1 {
  background: url('../images/social-icons.png') 0 -1135px no-repeat;
  border: 0;
  color: #c11c2d;
  font-size: 21px;
  font-weight: bold;
  height: 65px;
  line-height: 140%;
  margin-left: -10px;
  padding-top: 10px;
  padding-left: 65px;
}

#account h2 {
  color: #7d7d7d;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 5px;
}

#account #custom-tweet-button,
#account #custom-facebook-button {
  margin-bottom: 30px;
}

#account #custom-tweet-button a,
#account #custom-facebook-button a {
  padding-left: 65px;
}

#account #custom-tweet-button .twitter-text,
#account #custom-facebook-button .facebook-text {
  color: #7d7d7d;
  font-size: 16px;
}

#account #donate-button {
  background: url('../images/social-icons.png') 0 -1735px no-repeat;
  margin-left: -10px;
  padding-top: 10px;
  padding-left: 65px;
}
