- content_for :head do
  %title Hypothes.is | Download the Alpha

#alpha.page
  .topspacer
  .row
    %h1.sectitle Alpha

  .row
    .one_third
      / %h4 Extension for<span class="redtext">:</span>
      / %a.chromebutton Chrome
      / .firefoxbutton Firefox
      .chromebutton
      .firefoxbutton
    .two_thirds.last
      .specunit
        .number
          %h1 1
        %span.text
          %h3 Install It
          %div The Hypothes.is browser extension will let you annotate the internet. Firefox version coming soon.

  %hr.spaced

  .row
    %img.one_third.picunitimg(src="images/sandbox.png")
    .two_thirds.last
      .specunit
        .number
          %h1 2
        %span.text
          %h3 Try It
          %div You can use Hypothes.is on any page on the internet, but during the alpha period, <em>public</em> annotations are only enabled in our sandbox page. <a href="#sandbox">Check it out,</a> and don’t be afraid to voice your opinion!

  %hr.spaced

  .row
    %img.one_third.picunitimg(src="images/codez.png")
    .two_thirds.last
      .specunit
        .number
          %h1 3
        %span.text
          %h3 Build It
          %div 
            Hypothes.is is a growing open source project, and we could use your help! Check out <a href="https://github.com/hypothesis/h">our source</a>, and come visit our <a href="http://webchat.freenode.net/?channels=hypothes.is">IRC channel</a>. We could use a hand with: 
            %ul.list
              %li Text anchoring
              %li Flux capacitor demogrifying
              %li Alpine yodelling