#alpha.page
  .topspacer
  .row
    %h1.sectitle Test Hypothes<span class="redtext">.</span>is

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 1
        %span.text
          %h3 Install It
          %span Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 2
        %span.text
          %h3 Try It
          %span Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 3
        %span.text
          %h3 Build It
          %span Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.