#alpha.page
  .topspacer
  .row
    %h1.sectitle Alpha

  .row
    .one_third
      / %h4 Extension for<span class="redtext">:</span>
      / %a.chromebutton Chrome
      / .firefoxbutton Firefox
      .chromebutton
      .firefoxbutton
    .two_thirds.last
      .speclist
        .number
          %h1 1
        %span.text
          %h3 Install It
          %div Hypothesis is a distributed, open source system for the collaborative evaluation of information. 

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 2
        %span.text
          %h3 Try It
          %div Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 3
        %span.text
          %h3 Build It
          %div Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.