#alpha.page
  .topspacer
  .row
    %h1.sectitle Welcome to Hypothesis<span class="redtext">.</span>
    .one_whole
      %p Hypothesis is a distributed, open source system for the collaborative evaluation of information. We are in an early alpha period as we fine-tune our core annotation functionality. We would love for you to help us test it.

  .spacer

  .row
    %h2.sectitle
      Test Hypothesis<span class="redtext">:</span>
  .row
    .one_half
      .buttonwrap
        %a.button Chrome Extension
    .one_half.last
      .buttonwrap
        %a.button Firefox Extension
  .row
    .one_whole
      %p Once you've installed the extension and claimed your account, you can read the <a href="#instructions">instructions</a> first, or jump right into the <a href="#sandbox">sandbox</a>.


