#contribute.page
  .topspacer
  %h1.sectitle
    Code<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We’re open source, implemented largely in Python and Javascript.  You can <a href="https://github.com/hypothesis/hypothes.is">find us on Github.</a>
      %p
        <a href="http://Hypothes.is" target="_blank">Hypothes.is</a> is built on top of an open source annotation framework called&nbsp;<a href="http://annotateit.org/" target="_blank">Annotator</a>&nbsp;developed in partnership with the&nbsp;<a href="http://okfn.org/" target="_blank">Open Knowledge Foundation</a>. &nbsp;It&nbsp;is also&nbsp;<a href="https://github.com/okfn/annotator/" target="_blank">available on Github</a>.
      %p
        We’d love your help.  Please join us in <a href="http://webchat.freenode.net/?channels=hypothes.is">#hypothes.is</a> on <a href="http://freenode.net/">freenode</a>.

  .spacer

  %h1.sectitle
    Join<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We're hiring full time JavaScript or Python developers who pick up new tools and skills quickly and love evaluating the next hot thing with a healthy skepticism and a pragmatic lean.  If you like PostgreSQL or ElasticSearch, swoon over the beauty of Pyramid or d3.js, get excited about continuous deployment, rapid iteration, or rich HTML5 browser applications you should be right at home.
      %p
        We’re open-source, non-profit and well funded. Join us because you want to work with great people and create real, powerful change in the world around you.

      %a{:href => "#contact"}
        Contact us.
  .spacer

  %h1.sectitle
    Donate<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We’re trying to change the world, and we think we can only accomplish it as a non-profit.  We’ve haven’t made that decision lightly, and in doing so have drawn from the counsel of many thoughtful advisors.  In the past, we’ve funded our efforts using standard tech financing strategies.  As a non-profit these are now unavailable to us.
      %p
        Though we have a strategy to become revenue sustainable, we do need help over the next several years to get started.  We are so grateful to all the support we’ve received so far from the <a href="http://hypothes.is/repworkshop.html">Sloan Foundation</a> and our <a href="http://hypothes.is/thanks.php">friends on Kickstarter</a>.
      %p Please consider a gift.
      %form.donateform{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
        %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}
          %input{:name => "hosted_button_id", :type => "hidden", :value => "QR6LLJLF5VXVA"}
            %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif", :type => "image"}
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
