#contribute.page
  .topspacer
  %h1.sectitle
    Code<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We’re open source, based largely in Python and Javascript.  You can read about us on Github.
      %p
        We’re also working with the Open Knowledge Foundation Annotator project to extend their core annotation framework.
      %p
        We’d love your help.  Please join us in #hypothes.is on freenode.

  .spacer

  %h1.sectitle
    Join<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We seek strong JavaScript or Python developers who pick up new tools and skills quickly and love evaluating the next hot thing with a healthy skepticism and a pragmatic lean.  If you like PostgreSQL or ElasticSearch, swoon over the beauty of Pyramid or d3.js, get excited about continuous deployment, rapid iteration, or rich HTML5 browser applications you should be right at home.
      %p
        We’re open-source, non-profit and well funded. Join us because you want to work with great people and create real, powerful change in the world around you.

  .spacer

  %h1.sectitle
    Donate<span class="redtext">.</span>

  .row
    .one_whole
      %p
        We’re trying to change the world, and we think we can only accomplish it as a non-profit.  We’ve haven’t made that decision lightly, and in doing so have drawn from the counsel of many thoughtful advisors.  In the past, we’ve funded our efforts using standard tech financing strategies.  As a non-profit these are now unavailable to us.
      %p
        Though we have a strategy to become revenue sustainable, we do need help over the next several years to get started.  We are so grateful to all the support we’ve received so far from the Sloan Foundation and our friends on Kickstarter.
      %p
        Please consider a gift.
