#faq.page
  .topspacer
  %h1.sectitle
    Frequently Asked Questions<span class="redtext">:</span>

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Why will this project succeed? Haven't there been other efforts like this before?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Doesn't this require the contribution of a large number of people to succeed? How do you create that at the outset?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Do you really think that people have the disposition, patience, or qualifications to participate in this way?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 This seems like a never-ending challenge; will we ever stem the tide of lousy information?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Won't people try to game the system?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 What's the incentive for any site to add this feature?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Why will people download your plug-in?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Aren't you secretly slanted towards a particular political world-view?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Why a non-profit?

  .row
    .one_whole
      .faqunit
        .triangle
          .img
        .text
          %h4 Why "Hypothes.is"?
