#home.grid

  .topspacer
    %h1
      The Internet, peer reviewed.
    %hr
  %p.em
    Imagine if wherever we encountered new information, sentence by sentence, frame by frame, we could easily know the best thinking on it.
  %p.em
    Imagine if we had confidence that this represented the combined wisdom of the most informed people--not as anointed by editors, but as weighed over time by our peers, objectively, statistically and transparently.
  %p.em
    Imagine if this created a powerful incentive for people to ensure that their works met a higher standard, and made it perceptibly harder to spread information that didn't meet that standard.
  %p.strong
    These goals are possible with today's technologies.
  %p.strong
    They are the objectives of Hypothes.is.

  .row
    %form#register_form.slot-0-1
      #availability_status
      .input-wrapper
        %div
          %label{:for => "username"} Reserve a Username:
          %input#username.clearFocus{:name => "username", :type => "text", :value => "Choose a Username"}
      .input-wrapper
        %div
          %label{:for => "email"} Enter your email:
          %input#email{:name => "email", :type => "text", :value => "Enter Your Email"}
      .input-wrapper
        %div
          %label{:for => "email2"} Confirm your email:
          %input#email2{:name => "email2", :type => "text", :value => "Confirm Your Email"}
      %input{:name => "button", :type => "submit", :value => "Save my username"}

    %form#register_form.slot-2-3
      #availability_status
      .input-wrapper
        %div
          %label{:for => "username"} Reserve a Username:
          %input#username.clearFocus{:name => "username", :type => "text", :value => "Choose a Username"}
      .input-wrapper
        %div
          %label{:for => "email"} Enter your email:
          %input#email{:name => "email", :type => "text", :value => "Enter Your Email"}
      .input-wrapper
        %div
          %label{:for => "email2"} Confirm your email:
          %input#email2{:name => "email2", :type => "text", :value => "Confirm Your Email"}
      %input{:name => "button", :type => "submit", :value => "Save my username"}

    .tweet.slot-4-5
