#instructions.page
  .topspacer
  .row
    %h1.sectitle Instructions<span class="redtext">:</span>
  .row
    %img.one_third.picunit(src="http://placehold.it/66x66")
    .two_thirds.last
      %h3 Start Hypothesis
      %p Click on the annotation icon in your address bar to turn on Hypothesis. This icon will also show you how many annotations there are on the page, and whether any of them are yours.

  .row
    .two_thirds.last
      %h3 The Heatmap 
      %p The heatmap shows you where annotations are on the page. The pointers show the number of annotations....
    %img.one_third.picunit(src="http://placehold.it/66x66")