#instructions.page
  .topspacer
  .row
    %h1.sectitle Instructions<span class="redtext">:</span>

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 1
        %span.text
          %h3 Start Hypothes<span class="redtext">.</span>is
          %div Click on the annotation icon in your address bar to turn on Hypothesis. This icon will also show you how many annotations there are on the page, and whether any of them are yours.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 2
        %span.text
          %h3 Make an annotation
          %div Highlight any piece of text and click on the pen icon to make an annotation. Try it on this paragraph!

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 3
        %span.text
          %h3 The heatmap
          %div The heatmap shows you where annotations are on the page. Each numbered pointer corresponds to a "bucket" of the annotations on that part of the page. Click on one to see them.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 4
        %span.text
          %h3 Bucket view
          %div In the bucket view, you can see summaries of all the annotations on a certain part of the document. Click on a summary to enter its detail view.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 5
        %span.text
          %h3 Detail view
          %div The detail view focuses on a particular annotation, and all the discussion about it. To get involved in the discussion, click the reply button on any of the posts.

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 6
        %span.text
          %h3 Navigation
          %div Click on the arrow in the upper left to close the sidebar. Click on it again to open the sidebar back up. Click on the heatmap itself to enter dynamic bucket view. This view shows the annotations in all the buckets on the page. 

  %hr.spaced

  .row
    %img.one_third(src="http://placehold.it/66x66")
    .two_thirds.last
      .speclist
        .number
          %h1 7
        %span.text
          %h3 Try it Out!
          %div You can use Hypothes.is on any page on the internet, but during the alpha period, <em>public</em> annotations are only enabled in our sandbox page. <a href="#sandbox">Check it out,</a> and don’t be afraid to voice your opinion!