%a{:href => "http://hypothes.is"}
  %img{ :alt => "hypothesis_logo", :src => "images/hypothelogo_light2.png" }
%ul#navlist
  %li
    %a{:href => "#imagine"}
      Imagine
  %li
    %a{:href => "#what"}
      What is it?
  %li
    %a{:href => "#who"}
      Who
  %li
    %a{:href => "#press"}
      Press
  %li
    %a{:href => "#faq"}
      FAQ
  %li
    %a{:href => "#principles"}
      12 Principles
  %li
    %a{:href => "#workshop"}
      Workshop
  %li
    %a{:href => "#contribute"}
      Contribute
  %li
    %a{:href => "#contact"}
      Contact
//  %hr.blank
//  %li
//    %a{:href => "http://blog.hypothes.is"}
//      Blog
