.sidelogo
%ul#navlist
  %li
    %a{:href => "#home"}
      Home
  %li
    %a{:href => "#what"}
      What is it?
  %li
    %a{:href => "#workshop"}
      Workshop
  %li
    %ul
      %li
        %a{:href => "#wk_overview"}
          Overview
      %li
        %a{:href => "#wk_attendees"}
          Attendees
      %li
        %a{:href => "#wk_fellows"}
          Fellows
      %li
        %a{:href => "#wk_agenda"}
          Agenda
      %li
        %a{:href => "#wk_reading"}
          Reading List
      %li
        %a{:href => "#wk_info"}
          More Info
  %li
    %a{:href => "#press"}
      Press
  %li
    %a{:href => "#principles"}
      12 Principles
  %li
    %a{:href => "#faq"}
      FAQ
  %li
    %a{:href => "#who"}
      Who
  %li
    %a{:href => "#contribute"}
      Contribute
  %li
    %a{:href => "#contact"}
      Contact
