.sidelogo
%ul.navlist
  %li
    %a{:href => "#home"}
      Home
  %li
    %a{:href => "#what"}
      What is it?
  %li
    %a{:href => "#workshop"}
      Workshop
  %li
    %a{:href => "#press"}
      Press
  %li
    %a{:href => "#principles"}
      12 Principles
  %li
    %a{:href => "#faq"}
      FAQ
  %li
    %a{:href => "#who"}
      Who
  %li
    %a{:href => "#contribute"}
      Contribute
  %li
    %a{:href => "#contact"}
      Contact
