%a{:href => "http://hypothes.is"}
  %img{ :alt => "hypothesis_logo", :src => "images/hypothelogo_light2.png" }
%ul#navlist
  %li
    %a{:href => "/imagine.html"}
      Imagine
  %li
    %a{:href => "/what.html"}
      What is it?
  %li
    %a{:href => "/who.html"}
      Who
  %li
    %a{:href => "/press.html"}
      Press
  %li
    %a{:href => "/faq.html"}
      FAQ
  %li
    %a{:href => "/principles.html"}
      12 Principles
  %li
    %a{:href => "/workshop.html"}
      Workshop
  %li
    %a{:href => "/contribute.html"}
      Contribute
  %li
    %a{:href => "/contact.html"}
      Contact
//  %hr.blank
//  %li
//    %a{:href => "http://blog.hypothes.is"}
//      Blog
