#press.page

  .topspacer
  .sectitle
    %h1 Press<span class="redtext">:</span>

  .row.vertspace
    %img.one_fourth.redbotbor{ :alt => "ReadWriteWeb", :src => "images/press/rww.png" }
    .three_fourths.last
      %h2
        ReadWriteWeb<span class="redtext">:</span>
      %p.em
        "A team of long-time leaders of the Internet community have come together behind Dan Whaley, one of the forefathers of contemporary search engines, to build a system called Hypothes.is..."

  %hr

  .row.vertspace
    %img.one_fourth.redbotbor{ :alt => "KurzweilAI", :src => "images/press/kurzweil.png" }
    .three_fourths.last
      %h2
        Kurzweil Accelerating Intelligence<span class="redtext">:</span>
      %p.em
        "It could be one of the most important innovations on the Internet since the browser. Imagine an open-source, crowd-sourced, community-moderated, distributed platform for sentence-level annotation of the Web. In other words, a way to cut through the babble and restore some sanity and trust."


  %hr

  .row.vertspace
    %img.one_fourth.redbotbor{ :alt => "Forbes", :src => "images/press/forbes.png" }
    .three_fourths.last
      %h2
        Forbes<span class="redtext">:</span>
      %p.em
        "I am therefore going to become a very big fan of hypothes.is. Before hypothes.is launched I was chewing over the problem of peer review. Do we get enough peer review in a world of open communications?"

  %hr

  .row.vertspace
    %img.one_fourth.redbotbor{ :alt => "TechCrunch", :src => "images/press/techcrunch.png" }
    .three_fourths.last
      %h2
        TechCrunch<span class="redtext">:</span>
      %p.em
        "The Web: never before has there been a medium where it was so easy to find so much information. And never before has so much of it been so wrong. Somebody needs to fact-check the Internet. But who? Dan Whaley thinks it should be you."

  %hr
