#principles.page

  .topspacer
  %h1.sectitle
    12 Principles<span class="redtext">:</span>

  .principles.accordion
    .row
      .one_whole
        .principle
          .number
            %h2 1
          .text
            %h3 Free
            %div <a href="http://www.gnu.org/philosophy/free-sw.html">Free</a>, open source software using open standards.


      .one_whole
        .principle
          .number
            %h2 2
          .text
            %h3 Work everywhere
            %div To the extent practical. Without consent.

      .one_whole
        .principle
          .number
            %h2 3
          .text
            %h3 Non-profit
            %div Sustained by social enterprise.

      .one_whole
        .principle
          .number
            %h2 4
          .text
            %h3 Neutral
            %div Favor no ideological or political positions.

      .one_whole
        .principle
          .number
            %h2 5
          .text
            %h3 100% community moderated
            %div Bottom up, not top down.

      .one_whole
        .principle
          .number
            %h2 6
          .text
            %h3 Merit based
            %div Influenced based on track record.


      .one_whole
        .principle
          .number
            %h2 7
          .text
            %h3 Pseudonymous
            %div Credibility without public identity.


      .one_whole
        .principle
          .number
            %h2 8
          .text
            %h3 International
            %div By design.

      .one_whole
        .principle
          .number
            %h2 9
          .text
            %h3 Transparent, auditable
            %div In systems. In governance.


      .one_whole
        .principle
          .number
            %h2 10
          .text
            %h3 Think long term
            %div Infrastructure for 100 years. <a href="http://www.kk.org/thetechnium/archives/2011/06/the_clock_in_th.php">Or longer</a>?

      .one_whole
        .principle
          .number
            %h2 11
          .text
            %h3 Many formats, many contexts
            %div HTML, PDF, video, books. News, blogs, scientific articles, legislation, regulations, Terms of Service, etc.

      .one_whole
        .principle
          .number
            %h2 12
          .text
            %h3 Work with the best
            %div Remain humble.
