#principles.page

  .topspacer
  .sectitle
    %h1
      12 Principles<span class="redtext">:</span>

  .row
    .one_half
      .principle
        .number
          %h2 1
        .text
          %h4 Open
          %p Open source, open standards.


    .one_half.last
      .principle
        .number
          %h2 2
        .text
          %h4 Work everywhere
          %p To the extent practical. Without consent.

  .row
    .one_half

      .principle
        .number
          %h2 3
        .text
          %h4 Non-profit
          %p Sustained by social enterprise.

    .one_half.last

      .principle
        .number
          %h2 4
        .text
          %h4 Neutral
          %p Favor no ideological or political positions.

  .row
    .one_half

      .principle
        .number
          %h2 5
        .text
          %h4 100% community moderated
          %p Bottom up, not top down.

    .one_half.last

      .principle
        .number
          %h2 6
        .text
          %h4 Merit based
          %p Influenced based on track record.

  .row
    .one_half

      .principle
        .number
          %h2 7
        .text
          %h4 Pseudonymous
          %p Credibility without public identity.

    .one_half.last

      .principle
        .number
          %h2 8
        .text
          %h4 International
          %p By design.

  .row
    .one_half

      .principle
        .number
          %h2 9
        .text
          %h4 Transparent, auditable
          %p In systems. In governance.

    .one_half.last

      .principle
        .number
          %h2 10
        .text
          %h4 Think long term
          %p Infrastructure for 100 years. <a href="http://www.kk.org/thetechnium/archives/2011/06/the_clock_in_th.php">Or longer</a>?

  .row
    .one_half
      .principle
        .number
          %h2 11
        .text
          %h4 Many formats, many contexts
          %p HTML, PDF, video, books. News, blogs, scientific articles, legislation, regulations, Terms of Service, etc.


    .one_half.last
      .principle
        .number
          %h2 12
        .text
          %h4 Work with the best
          %p Remain humble.
