#robust.page
  .topspacer
  %h1.sectitle The Robust Anchoring Challenge

  .row
    .one_whole
      %p
        A $10,000 contest to solicit, identify and implement strategies that propose innovative long-term robust inter- and intra-document text anchors which function effectively on the diversity of content and formats across the web.

      %h3 Challenge Background
      %p Hypertext links generally point to the top of documents and other web-connected media.  Intra-document anchors exist, but these usually are established at fixed places by the author of the original document, and are not useful for others in pointing to arbitrary locations in documents they do not create.

      %p Recently, annotation has emerged as an important new way for others to point into things and contribute independent thinking and other kinds of useful information.  Central to the success and interoperability of annotation standards such as Open Annotation (openannotation.org) is the adoption of a long-term, stable approach (or possibly approaches) to anchoring annotations by selecting fragments that are robust against changes over time in the underlying document.   This is referred to as intra-document anchoring.

      %p A related, but different problem is that often documents exist in multiple formats (HTML, PDF, DOC, TXT, etc), or may be accessible in paginated or unpaginated versions.  It would be helpful if an annotation created in one would also be automatically visible in the other.  Also, often the same or nearly the same content (for instance with line numbers in one place, but without in another) may be available in many places (e.g. The Bible, Shakespeare, US constitution, popular song lyrics, news stories, or other examples of widely disseminated information).  Should we seek ways of enabling the shared annotation of these type of documents wherever they exist?  This class of problems collectively are referred to as inter-document anchoring or also content-based anchoring (aka the content addressable web).

      %h3 Solve It!

      %p Over the years there have been a range of suggested solutions to some or all of these problems, ranging from XPointer (XPath) to the <a href="http://open.blogs.nytimes.com/2011/01/11/emphasis-update-and-source/">NY Times’ Emphasis project.</a>  (We’ve included a reading list at the end)  Also, importantly, some have proposed strategies for how to combine solutions with a confidence metric for whether the anchor is still valid, depending on minor or major changes in the underlying document, and how to fail gracefully if the anchor can no longer be reliably matched.

      %p We acknowledge the wide range of previous work in this field over the past decades, and we can imagine using a variety of existing strategies in combination to provide a robust solution to these problems.  We can also envision generalized approaches that try to solve intra- and inter-document challenges simultaneously (for instance by using content hashes).   Proposers are free to tackle any of the above, either singly, or in combination.

      %p What we’re sure of is that a) this is a problem that many have thought about for much longer than we have, b) that this is a grand challenge that many need solved, and c) this is a perfect opportunity to bring these twin forces together.

      %h3 Process

      %p Ours is an open-source, non-profit effort.   Proposers commit in advance that all strategies and algorithms will be donated to the public domain in perpetuity without restriction, for the benefit of humanity, and released as open source software via github (or another similar open source repository).  Also, all proposers agree that their submissions (winning or not) can be made public in the original form they provide.

      %p Please submit a summary of your proposal in a one-page executive summary, as well as a longer form description as necessary.  Also, implementations in code form (Javascript for instance) are strongly encouraged.

      %p Please be sure to place your proposal in the context of the prior work that has come in this space.

      %h3 Peer-review

      %p Proposers also should indicate whether they would be willing to participate in a peer-review process, by reviewing a number of (for instance, five) randomly selected other proposals, selecting one or more to go on to the next stage.  This is optional and will not affect your proposal.

      %h3 Judging

      %p Winning submissions will ultimately be selected by a panel of judges as well as ourselves.  We may select a number of different proposals that taken together represent the best overall approach. 


      %p Winners should be willing to work together to produce a revised, comprehensive algorithm and overall strategy which can be implemented in code.  It is our hope, but not a requirement, that those individuals might become long term contributors to this effort.

      %p Winners are also strongly encouraged to publish their work separately.

      %h3 Considerations
      %p
        The best strategies may have some of the following properties:
      %ul.list

        %li They are conceptually and architecturally simple.

        %li They are built with an eye towards the future.  What is likely to remain constant over time?  Can we imagine the same approach working 100 years from now?  (A good question is: What has remained relatively stable in the past?)  

        %li They are able to be implemented now-- they don’t depend on new technologies or standards yet to come.

        %li They acknowledge that because of the inherent instability of web content, anchors can never be known for certain, and we may take different actions based on how confident we are.  

        %li They outline how we fail gracefully when we cannot reattach anchors.

        %li New anchors can be determined solely from information available on the document to which they refer.

        %li They are not expensive to compute on a per instance basis.

        %li Queries to see whether annotations exist for a given anchor would not require excessive bandwidth or complex multipart negotiations w/ remote services.  (Simple, short / fast queries are ok).

        %li They contemplate the diversity of text content and formats, including the lowest common denominator problem-- in other words some pages are highly structured (and that structure can be traversed to efficiently rediscover things that have moved), but some pages are not.

      %h3 Deadline: October 31, 2012

      %p Submissions will be accepted through October 31, 2012.  Once submissions have been received, we will review them internally, and depending on volume, may request that proposers assist in the initial peer review phase.  Screening and judging will be completed by November 30, 2102.

      %h3 Prize: $10,000 

      %p A $10,000 prize will be split evenly amongst no more than three winners.  The funding for this prize is part of an overall grant that Hypothes.is received from the Alfred P. Sloan Foundation.

      %h2.sectitle Judges

    .accordion
      .row
        #ro_sa.picunit.one_fifth.tipper
          %img{ :alt => "Rob Sanderson", :src => "images/advisors/rob-sanderson_184x124.jpg" }
          .caption
            %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>
          .caption Los Alamos Ntl. Lab.
          .hovertext Click for bio<span class="redtext">.</span>

        #pa_ci.picunit.one_fifth.tipper
          %img{ :alt => "Paolo Ciccarese", :src => "images/paolo_ciccarese.png" }
          .caption
            %a{:href => "http://www.hcklab.org/paolo-ciccarese-cv.html"} Paolo <strong>Ciccarese</strong>
          .caption Harvard Medical School
          .hovertext Click for bio<span class="redtext">.</span>

        #pe_br.picunit.one_fifth.tipper
          %img{ :alt => "Peter Brantley", :src => "images/peter_brantley.png" }
          .caption
            %a{:href => "http://www.linkedin.com/in/naypinya"} Peter <strong>Brantley</strong>
          .caption Internet Archive
          .hovertext Click for bio<span class="redtext">.</span>

        #si_st.picunit.one_fifth.tipper
          %img{ :alt => "Simon St. Laurent", :src => "images/simon_st_laurent.png" }
          .caption
            %a{:href => "http://radar.oreilly.com/simonstl"} Simon <strong>St. Laurent</strong>
          .caption O’Reilly
          .hovertext Click for bio<span class="redtext">.</span>

        #ba_bj.picunit.one_fifth.last.tipper
          %img{ :alt => "Baldur Bjarnason", :src => "images/baldur_bjarnason.png" }
          .caption
            %a{:href => "http://www.baldurbjarnason.com/"} Baldur <strong>Bjarnason</strong>
          .hovertext Click for bio<span class="redtext">.</span>


      .row
        .one_whole.tip.ro_sa
          %h3
            %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>
          %h4 Los Alamos Ntl. Laboratory
          %p Dr Robert Sanderson is the co-chair of the W3C Community Group on Open Annotation, and principal editor of the Open Annotation specification.  He is a scientist at Los Alamos National Laboratory's Research Library, and was previously a lecturer in Computer Science at the Univ. of Liverpool.  He obtained his PhD in 2003, and his research interests include digital humanities and technical architectures for scholarly communication.
        
        .one_whole.tip.pa_ci
          %h3
            %a{:href => "http://www.hcklab.org/paolo-ciccarese-cv.html"} Paolo <strong>Ciccarese</strong>
          %h4 Harvard Medical School
          %p I am a senior scientist and software engineer, working in the bio-medical informatics field since the year 2000. My extensive background in software engineering, knowledge management and biomedical informatics, together with my great interest in cutting edge technologies provides the necessary scaffold for me to transform the ideas and needs of fellow scientists into production-quality software enabling technological innovations in research environments.

        .one_whole.tip.pe_br
          %h3
            %a{:href => "http://www.linkedin.com/in/naypinya"} Peter <strong>Brantley</strong>
          %h4 Internet Archive
          %p Advancing the use of network-based communications and media to develop new services and products enabling people to enrich their lives, through both web and mobile technology.
          %p My recent work focuses on media-focused, user-facing applications and services, including the conception and development of new technical protocols, standards, and widely distributed applications. I have significant experience in working with content distribution, and have thought at length about content fragmentation, intellectual property, and rights management issues.

        .one_whole.tip.si_st
          %h3
            %a{:href => "http://radar.oreilly.com/simonstl"} Simon <strong>St. Laurent</strong>
          %h4 O’Reilly
          %p Simon St. Laurent is a web developer, network administrator, computer book author, and XML troublemaker living in the Town of Dryden, NY. His books include Learning Rails, XML: A Primer, XML Elements of Style, Cookies, Office 2003 XML, and the XML Pocket Reference.

        .one_whole.tip.ba_bj
          %h3
            %a{:href => "http://www.baldurbjarnason.com/"} Baldur <strong>Bjarnason</strong>
          %p Baldur Bjarnason is over-educated, over-read and over-opinionated. Some say that’s not a bad thing.
          %p He lives in Bristol (UK) and works in web development, research, design and marketing.
          %p Lately, he’s been returning to his PhD subject: eBooks and interactivity.
