#sandbox.page
  .topspacer
  .row
    %h1.sectitle Sandbox<span class="redtext">:</span>
  .row
    %p
      <b class="redtext">SEC. 1021.</b> AFFIRMATION OF AUTHORITY OF THE ARMED FORCES OF THE UNITED STATES TO DETAIN COVERED PERSONS PURSUANT TO THE AUTHORIZATION FOR USE OF MILITARY FORCE. 
    %p
      <b class="redtext">(a)</b> IN GENERAL.-Congress affirms that the authority of the President to use all necessary and appropriate force pursuant to the Authorization for Use of Military Force (Public Law 107-40; 50 U.S.C. 1541 note) includes the authority for the Armed Forces of the United States to detain covered persons (as defined in subsection (b)) pending disposition under the law of war.
    %p
      <b class="redtext">(b)</b> COVERED PERSONS. -A covered person under this section is any person as follows:
    %p
      <b class="redtext">(1)</b>  A person who planned, authorized, committed, or aided the terrorist attacks that occurred on September 11, 2001, or harbored those responsible for those attacks.
    %p
      <b class="redtext">(2)</b>  A person who was a part of or substantially supported al-Qaeda, the Taliban, or associated forces that are engaged in hostilities against the United States or its coalition partners, including any person who has committed a belligerent act or has directly supported such hostilities in aid of such enemy forces.
    %p
      <b class="redtext">(c)</b> DISPOSITION UNDER LAW OF WAR. -The disposition of a person under the law of war as described in subsection (a) may include the following:
    %p
      <b class="redtext">(1)</b>  Detention under the law of war without trial until the end of the hostilities authorized by the Authorization for Use of Military Force.
    %p
      <b class="redtext">(2)</b>  Trial under chapter 47A of title 10, United States Code (as amended by the Military Commissions Act of 2009 (title XVIII of Public Law 111-84)).
    %p
      <b class="redtext">(3)</b>  Transfer for trial by an alternative court or competent tribunal having lawful jurisdiction.
    %p
      <b class="redtext">(4)</b>  Transfer to the custody or control of the person's country of origin, any other foreign country, or any other foreign entity.
    %p
      <b class="redtext">(d)</b> CONSTRUCTION.-Nothing in this section is intended to limit or expand the authority of the President or the scope of the Authorization for Use of Military Force.
    %p
      <b class="redtext">(e)</b> AUTHORITIES.-Nothing in this section shall be construed to affect existing law or authorities relating to the detention of United States citizens, lawful resident aliens of the United States, or any other persons who are captured or arrested in the United States.
    %p
      <b class="redtext">(f)</b> REQUIREMENT FOR BRIEFINGS OF CONGRESS.-The Secretary of Defense shall regularly brief Congress regarding the application of the authority described in this section, including the organizations, entities, and individuals considered to be "covered persons" for purposes of subsection (b)(2). H. R. 1540-266