#who.page
  .topspacer
  .sectitle
    %h2 Core Development Team<span class="redtext">:</span>

  .row
    .picunit.one_third
      %img{ :alt => "Randall Leeds", :src => "images/team/randall-leeds.png" }
      %a{:href => "http://bleeds.info/"} Randall <strong>Leeds</strong>
      %br
      %span Code

    .picunit.one_third
      %img{ :alt => "Jehan Tremback", :src => "images/team/jehan-tremback.jpg" }
      %a{:href => "http://jehantremback.com/"} Jehan <strong>Tremback</strong>
      %br
      %span Design

    .picunit.one_third.last
      %img{ :alt => "Dan Whaley", :src => "images/team/dan-whaley.jpg" }
      %a{:href => "http://www.linkedin.com/in/danwhaley"} Dan <strong>Whaley</strong>
      %br
      %span Product

  .sectitle
    %h2 Advisors and Collaborators<span class="redtext">:</span>
  .row
    .picunit.one_fifth
      %img{ :alt => "John Perry Barlow", :src => "images/advisors/john-perry-barlow_184x124.jpg" }
      %a{:href => "https://projects.eff.org/~barlow/"} John Perry <strong>Barlow</strong>
      %br
      %span Electronic Frontier Foundation

    .picunit.one_fifth
      %img{ :alt => "Charles Bazerman", :src => "images/advisors/charles-bazerman_184x124b.jpg" }
      %a{:href => "http://education.ucsb.edu/bazerman/"} Charles <strong>Bazerman</strong>
      %br
      %span UC Santa Barbara

    .picunit.one_fifth
      %img{ :alt => "Phil Bourne", :src => "images/advisors/phil-bourne_184x124_bw.jpg" }
      %a{:href => "http://www.linkedin.com/pub/phil-bourne/0/921/b98"} Phil <strong>Bourne</strong>
      %br
      %span UC San Diego / PLoS

    .picunit.one_fifth
      %img{ :alt => "hypothesis_logo", :src => "images/advisors/adam-christian_184x124.jpg" }
      %a{:href => "http://www.adamchristian.com/"} Adam <strong>Christian</strong>
      %br
      %span Sauce Labs / Slide

    .picunit.one_fifth.last
      %img{ :alt => "John W. DuBois", :src => "images/advisors/jack-dubois-184x124.jpg" }
      %a{:href => "http://www.linguistics.ucsb.edu/people/dubois.html"} John W. <strong>DuBois</strong>
      %br
      %span UC Santa Barbara

  .row
    .picunit.one_fifth
      %img{ :alt => "Kaliya Hamlin", :src => "images/advisors/kaliya-hamlin_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/kaliya"} Kaliya <strong>Hamlin</strong>
      %br
      %span Internet Identity Workshop

    .picunit.one_fifth
      %img{ :alt => "Steve Hazel", :src => "images/advisors/steven-hazel_184x124_bw.jpg" }
      %a{:href => "http://www.linkedin.com/in/sahazel"} Steve <strong>Hazel</strong>
      %br
      %span Sauce Labs / Bitorrent

    .picunit.one_fifth
      %img{ :alt => "Salim Ismail", :src => "images/advisors/salim-ismail_184x124.jpg" }
      %a{:href => "http://salimismail.com/"} Salim <strong>Ismael</strong>
      %br
      %span Founding Exec Dir, Singularity U

    .picunit.one_fifth
      %img{ :alt => "Brewster Kahle", :src => "images/advisors/brewster-kahle_184x124.jpg" }
      %a{:href => "http://www.archive.org/about/bios.php"} Brewster <strong>Kahle</strong>
      %br
      %span Internet Archive

    .picunit.one_fifth.last
      %img{ :alt => "Thede loder", :src => "images/advisors/thede_loder_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/thede"} Thede <strong>Loder</strong>
      %br
      %span Boxbe

  .row
    .picunit.one_fifth
      %img{ :alt => "Andrea Lunsford", :src => "images/advisors/andrea_lunsford_184x124_bw.jpg" }
      %a{:href => "http://www.stanford.edu/~lunsfor1/"} Andrea <strong>Lunsford</strong>
      %br
      %span Stanford

    .picunit.one_fifth
      %img{ :alt => "Johnathan Nelson", :src => "images/advisors/jonathan-nelson_184x124.jpg" }
      %a{:href => "http://hackersandfounders.com/"} Johnathan <strong>Nelson</strong>
      %br
      %span Hackers and Founders

    .picunit.one_fifth
      %img{ :alt => "Nate Oostendorp", :src => "images/advisors/nate-oostendorp_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/nateoostendorp"} Nate <strong>Oostendorp</strong>
      %br
      %span Slashdot

    .picunit.one_fifth
      %img{ :alt => "Rufus Pollock", :src => "images/advisors/rufus-pollock_184x124.jpg" }
      %a{:href => "http://rufuspollock.org/about/"} Rufus <strong>Pollock</strong>
      %br
      %span Founder, Open Knowledge Fdn.

    .picunit.one_fifth.last
      %img{ :alt => "Drummond Reed", :src => "images/advisors/drummond-reed_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/drummondreed/"} Drummond <strong>Reed</strong>
      %br
      %span Co-founder, Connect.me

  .row
    .picunit.one_fifth
      %img{ :alt => "Paul Resnick", :src => "images/advisors/paul-resnick_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/pub/paul-resnick/b/b3a/679"} Paul <strong>Resnick</strong>
      %br
      %span Univ. of Michigan

    .picunit.one_fifth
      %img{ :alt => "Mikael Rogers", :src => "images/advisors/mikeal-rogers_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/mikealrogers"} Mikael <strong>Rogers</strong>
      %br
      %span Pouch

    .picunit.one_fifth
      %img{ :alt => "Mark Surman", :src => "images/advisors/mark-surman_184x124.jpg" }
      %a{:href => "http://commonspace.wordpress.com/about/"} Mark <strong>Surman</strong>
      %br
      %span Exec. Director, Mozilla Fdn.

    .picunit.one_fifth
      %img{ :alt => "Jeff Atwood", :src => "images/advisors/jeff-atwood_184x124.jpg" }
      %a{:href => "http://www.codinghorror.com/blog/2004/02/about-me.html"} Jeff <strong>Atwood</strong>
      %br
      %span Cofounder, StackExchange

    .picunit.one_fifth.last
      %img{ :alt => "Erik Martin", :src => "images/advisors/erik-martin_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/erikmartin"} Erik <strong>Martin</strong>
      %br
      %span General Manager, Reddit

  .row
    .picunit.one_fifth
      %img{ :alt => "Boris Aleksandrovsky", :src => "images/advisors/boris-aleksandrovsky_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/baleksan"} Boris <strong>Aleksandrovsky</strong>
      %br
      %span Flipboard

    .picunit.one_fifth
      %img{ :alt => "Gigi Sohn", :src => "images/advisors/gigi-sohn_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/in/gigibsohn"} Gigi <strong>Sohn</strong>
      %br
      %span CEO, Public Knowledge

    .picunit.one_fifth
      %img{ :alt => "Rob Sanderson", :src => "images/advisors/rob-sanderson_184x124.jpg" }
      %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>
      %br
      %span Los Alamos Ntl. Laboratory

    .picunit.one_fifth
      %img{ :alt => "Kathleen Fitzpatrick", :src => "images/advisors/kathleen-fitzpatrick_184x124.jpg" }
      %a{:href => "http://mediacommons.futureofthebook.org/users/kfitz"} Kathleen <strong>Fitzpatrick</strong>
      %br
      %span MLA / MediaCommons

    .picunit.one_fifth.last
      %img{ :alt => "Nicholas Merrill", :src => "images/advisors/nicholas-merrill_184x124.jpg" }
      %a{:href => "https://en.wikipedia.org/wiki/Nicholas_Merrill"} Nicholas <strong>Merrill</strong>
      %br
      %span Founder, Calyx Institute




  .sectitle
    %h2 Reputation Fellows<span class="redtext">:</span>

  .row
    .picunit.one_fifth
      %img{ :alt => "Adam Scislowicz", :src => "images/fellows/adam-scislowicz.jpg" }
      %a{:href => "http://www.linkedin.com/in/adamscislowicz"} Adam <strong>Scislowicz</strong>
      %br
      %span Founder, Kor ventures

    .picunit.one_fifth
      %img{ :alt => "Michele Catasta", :src => "images/fellows/michele-catasta.jpg" }
      %a{:href => "http://www.linkedin.com/in/pirroh"} Michele <strong>Catasta</strong>
      %br
      %span PhD Candidate, EPFL

    .picunit.one_fifth
      %img{ :alt => "Ernesto Damiani", :src => "images/fellows/ernesto-damiani.jpg" }
      %a{:href => "http://olaf.crema.unimi.it/"} Ernesto <strong>Damiani</strong>
      %br
      %span Professor, University of Milan

    .picunit.one_fifth
      %img{ :alt => "Luca de Alfaro", :src => "images/fellows/luca-de-alfaro.jpg" }
      %a{:href => "http://www.linkedin.com/in/lucadealfaro"} Luca <strong>de Alfaro</strong>
      %br
      %span Professor, University of California

    .picunit.one_fifth.last
      %img{ :alt => "Chris Dellarocas", :src => "images/fellows/chris-dellarocas.jpg" }
      %a{:href => "http://dellarocas.com/"} Chris <strong>Dellarocas</strong>
      %br
      %span Professor, Boston University

  .row
    .picunit.one_fifth
      %img{ :alt => "Doug Downey", :src => "images/fellows/doug-downey.jpg" }
      %a{:href => "http://www.cs.northwestern.edu/~ddowney/"} Doug <strong>Downey</strong>
      %br
      %span Assistant Professor, Northwestern University

    .picunit.one_fifth
      %img{ :alt => "Susan Gauch", :src => "images/fellows/susan-gauch.jpg" }
      %a{:href => "http://csce.uark.edu/~sgauch/"} Susan <strong>Gauch</strong>
      %br
      %span Professor / Head of Dept, University of Arkansas

    .picunit.one_fifth
      %img{ :alt => "Radu Jurca", :src => "images/fellows/radu-jurca.jpg" }
      %a{:href => "http://www.radujurca.info/"} Radu <strong>Jurca</strong>
      %br
      %span Software Engineer, Google Zurich

    .picunit.one_fifth
      %img{ :alt => "John Riedl", :src => "images/fellows/john-riedl.jpg" }
      %a{:href => "http://www-users.cs.umn.edu/~riedl/"} John <strong>Riedl</strong>
      %br
      %span Professor, University of Minnesota

    .picunit.one_fifth.last
      %img{ :alt => "Bayle Shanks", :src => "images/fellows/bayle-shanks.jpg" }
      %a{:href => "http://bayleshanks.com/"} Bayle <strong>Shanks</strong>
      %br
      %span Founder, PieTrust
