#who.page
  .topspacer
  %h1.sectitle Core Development Team<span class="redtext">:</span>

  .accordion
    .row
      #ra_le.picunit.one_third.tipper
        %img{ :alt => "Randall Leeds", :src => "images/team/randall-leeds.png" }
        .caption
          %a{:href => "http://bleeds.info/"} Randall <strong>Leeds</strong>
        .caption Code
        .hovertext Click for bio<span class="redtext">.</span>


      #je_tr.picunit.one_third.tipper
        %img{ :alt => "Jehan Tremback", :src => "images/team/jehan-tremback.jpg" }
        .caption
          %a{:href => "http://jehantremback.com/"} Jehan <strong>Tremback</strong>
        .caption Design
        .hovertext Click for bio<span class="redtext">.</span>

      #da_wh.picunit.one_third.last.tipper
        %img{ :alt => "Dan Whaley", :src => "images/team/dan-whaley.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/danwhaley"} Dan <strong>Whaley</strong>
        .caption Product
        .hovertext Click for bio<span class="redtext">.</span>

    .row
      .one_whole.tip.ra_le
        %h3
          %a{:href => "http://bleeds.info/"} Randall <strong>Leeds</strong>
        %h4 Lead Developer
        %p Randall is the lead developer for Hypothes.is and a contributor to the popular Apache CouchDB and Gunicorn projects. He was previously a developer at Meebo. Randall was a co-creator of an open source Social Services 211 system which won an award at the Open Gov West conference held in Portland and earned the team an invitation to The White House Champions of Change program on technology and innovation. He holds a degree in Computer Science from Brown University.

      .one_whole.tip.je_tr
        %h3
          %a{:href => "http://jehantremback.com/"} Jehan <strong>Tremback</strong>
        %h4 Interface Designer
        %p Jehan is a UX/interface designer whose practice is rooted in the discipline of industrial design. His interfaces use the principles of visual simplicity and user-centered design to produce experiences that are smooth and intuitive. Past projects include:  NDAA2012.us, a site annotating and raising awareness of the 2012 NDAA, and The BioFab Expression Designer, a DNA search interface done in collaboration with the Lawrence Berkeley National Laboratory.

      .one_whole.tip.da_wh
        %h3
          %a{:href => "http://www.linkedin.com/in/danwhaley"} Dan <strong>Whaley</strong>
        %h4 Founder / Product Manager
        %p Dan is a coder and entrepreneur that created the first online travel reservation company on the web (ITN/GetThere) in 1995.  He wrote much of the software, launched the business and guided the long term technical and product vision.  GetThere went public in 1999 and was sold to Sabre in 2000 with nearly 600 employees while processing approximately 50% of travel transacted online.  Dan currently serves as a director of Sauce Labs, the leading open source functional testing company and Getaround, a peer-to-peer car sharing company.







    %h2.sectitle Advisors and Collaborators<span class="redtext">:</span>
    .row
      #bo_al.picunit.one_fifth.tipper
        %img{ :alt => "Boris Aleksandrovsky", :src => "images/advisors/boris-aleksandrovsky_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/baleksan"} Boris <strong>Aleksandrovsky</strong>
        .caption Flipboard
        .hovertext Click for bio<span class="redtext">.</span>

      #je_at.picunit.one_fifth.tipper
        %img{ :alt => "Jeff Atwood", :src => "images/advisors/jeff-atwood_184x124.jpg" }
        .caption
          %a{:href => "http://www.codinghorror.com/blog/2004/02/about-me.html"} Jeff <strong>Atwood</strong>
        .caption StackExchange
        .hovertext Click for bio<span class="redtext">.</span>

      #jo_ba.picunit.one_fifth.tipper
        %img{ :alt => "John Perry Barlow", :src => "images/advisors/john-perry-barlow_184x124.jpg" }
        .caption
          %a{:href => "https://projects.eff.org/~barlow/"} John Perry <strong>Barlow</strong>
        .caption EFF
        .hovertext Click for bio<span class="redtext">.</span>

      #ch_ba.picunit.one_fifth.tipper
        %img{ :alt => "Charles Bazerman", :src => "images/advisors/charles-bazerman_184x124b.jpg" }
        .caption
          %a{:href => "http://education.ucsb.edu/bazerman/"} Charles <strong>Bazerman</strong>
        .caption UC Santa Barbara
        .hovertext Click for bio<span class="redtext">.</span>

      #ph_bo.picunit.one_fifth.last.tipper
        %img{ :alt => "Phil Bourne", :src => "images/advisors/phil-bourne_184x124_bw.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/pub/phil-bourne/0/921/b98"} Phil <strong>Bourne</strong>
        .caption UC San Diego / PLoS
        .hovertext Click for bio<span class="redtext">.</span>

    .row
      .one_whole.tip.bo_al
        %h3
          %a{:href => "http://www.linkedin.com/in/baleksan"} Boris <strong>Aleksandrovsky</strong>
        %h4 Flipboard
        %p Boris specializes in solving problems of search, machine learning and data analysis on large scale by employing distributed and scalable software architectures. His interest is in innovative ways of automatic understanding and visualization of textual information.
        %p He has extensive expertise in information retrieval, linguistics, NLP, machine learning, AI, the semantic web and analysis of social media. He is working on analysis of large data sets using distributed computing technologies (Hadoop, Lucene, HBase, Mahout and friends). He has also done research in speech and handwriting recognition.

      .one_whole.tip.je_at
        %h3
          %a{:href => "http://www.codinghorror.com/blog/2004/02/about-me.html"} Jeff <strong>Atwood</strong>
        %h4 Stackexchange
        %h4 @codinghorror
        %p Jeff co-founded Stackexchange, a question-and-answer network that is collaboratively built and maintained by users, and is one of the most well-known and highly trafficked sites on the Internet. The site utilizes an earnable privileges reputation system, with the ultimate goal of the site being to cull good answers “to every imaginable programming question.” Jeff began his professional efforts in technology as a software developer, working various implementations of Microsoft's BASIC in the 1980’s. Fascinated by the human side of software development, Jeff blogs about just that and more on his popular blog Coding Horror.'


      .one_whole.tip.jo_ba
        %h3
          %a{:href => "https://projects.eff.org/~barlow/"} John Perry <strong>Barlow</strong>
        %h4 EFF
        %h4 @JPBarlow
        %p John Perry Barlow is a retired Wyoming cattle rancher and a former lyricist for the Grateful Dead. In 1990 he and Mitchell Kapor founded the Electronic Frontier Foundation (EFF), an organization which fights for the rights of citizens in the digital world. He currently serves as its Vice Chairman.  Since May of 1998, he has been a Fellow at Harvard Law Schools Berkman Center for Internet and Society.  His widely distributed manifesto, A Declaration of the Independence of Cyberspace, can be found on more than 20,000 web sites.

      .one_whole.tip.ch_ba
        %h3
          %a{:href => "http://education.ucsb.edu/bazerman/"} Charles <strong>Bazerman</strong>
        %h4 UC Santa Barbara
        %p Chuck is one of the worlds leading experts on writing and has contributed significantly to the establishment of writing as a research field. He is the current Chair of the Conference on College Composition and Communication (CCCC), the national professional association of writing instructors in the US.  He is the author of over 18 books and 20 edited editions.  He is one of the founders of Rhetoricians for Peace.

      .one_whole.tip.ph_bo
        %h3
          %a{:href => "http://www.linkedin.com/pub/phil-bourne/0/921/b98"} Phil <strong>Bourne</strong>
        %h4 UC San Diego / PLoS
        %p Philip is the co-founder and Editor-in-Chief of the open access journal PLoS Computational Biology. Philip has recently launched the Beyond the PDF initiative to develop a mandate, open source code and a set of deliverables to be used by scholars to accelerate data and knowledge sharing and discovery. He is a Past President of the International Society for Computational Biology, and an elected fellow of the American Association for the Advancement of Science (AAAS).


    .row
      #ad_ch.picunit.one_fifth.tipper
        %img{ :alt => "Adam Christian", :src => "images/advisors/adam-christian_184x124.jpg" }
        .caption
          %a{:href => "http://www.adamchristian.com/"} Adam <strong>Christian</strong>
        .caption Sauce Labs / Slide
        .hovertext Click for bio<span class="redtext">.</span>

      #jo_du.picunit.one_fifth.tipper
        %img{ :alt => "John W. DuBois", :src => "images/advisors/jack-dubois-184x124.jpg" }
        .caption
          %a{:href => "http://www.linguistics.ucsb.edu/people/dubois.html"} John W. <strong>DuBois</strong>
        .caption UC Santa Barbara
        .hovertext Click for bio<span class="redtext">.</span>

      #ka_fi.picunit.one_fifth.tipper
        %img{ :alt => "Kathleen Fitzpatrick", :src => "images/advisors/kathleen-fitzpatrick_184x124.jpg" }
        .caption
          %a{:href => "http://mediacommons.futureofthebook.org/users/kfitz"} Kathleen <strong>Fitzpatrick</strong>
        .caption MLA / MediaCommons
        .hovertext Click for bio<span class="redtext">.</span>

      #ka_ha.picunit.one_fifth.tipper
        %img{ :alt => "Kaliya Hamlin", :src => "images/advisors/kaliya-hamlin_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/kaliya"} Kaliya <strong>Hamlin</strong>
        .caption IIW
        .hovertext Click for bio<span class="redtext">.</span>

      #st_ha.picunit.one_fifth.last.tipper
        %img{ :alt => "Steve Hazel", :src => "images/advisors/steven-hazel_184x124_bw.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/sahazel"} Steve <strong>Hazel</strong>
        .caption Sauce Labs / Bitorrent
        .hovertext Click for bio<span class="redtext">.</span>

    .row
      .one_whole.tip.ad_ch
        %h3
          %a{:href => "http://www.adamchristian.com/"} Adam <strong>Christian</strong>
        %h4 Sauce Labs / Slide
        %h4 @admc
        %p Adam is a world-class expert in browsers, client side development and software testing. He was a former lead engineer at Mitch Kapors Open Source Applications Foundation (where he developed the Windmill Testing Framework) as well as at Rearden Commerce and Slide. He leads Sauce Labs implementation of Sauce Builder, which is the evolution of Windmill and a key new tool for rapid implementation of software testing suites interoperable with Selenium.

      .one_whole.tip.jo_du
        %h3
          %a{:href => "http://www.linguistics.ucsb.edu/people/dubois.html"} John W. <strong>DuBois</strong>
        %h4 UC Santa Barbara
        %p Jack is one of the foremost experts on the role of stance in language, and how it flows and changes even within the same conversations.  Stance is the position we take relative to external things, and particularly how we align ourselves with respect to others in doing so.  Stance is central to language, and is one of the most important components of the approach we will take with Hypothes.is.

      .one_whole.tip.ka_fi
        %h3
          %a{:href => "http://mediacommons.futureofthebook.org/users/kfitz"} Kathleen <strong>Fitzpatrick</strong>
        %h4 MLA / MediaCommons
        %p Kathleen Fitzpatrick is Director of Scholarly Communication at the Modern Language Association, and is on leave from a position as Professor of Media Studies at Pomona College, in Claremont, California. She is the author of Planned Obsolescence: Publishing, Technology, and the Future of the Academy, and she is co-founder of the digital scholarly network MediaCommons, an open platform for the scholarly peer-review of books. She is one of the most outspoken and respected voices imagining the reinvention of peer-review in the modern, digital and connected age.

      .one_whole.tip.ka_ha
        %h3
          %a{:href => "http://www.linkedin.com/in/kaliya"} Kaliya <strong>Hamlin</strong>
        %h4 Internet Identity Workshop
        %h4 @identitywoman
        %p Kaliya Hamlin is one of the worlds leading experts in user-centric identity, privacy and data sharing and co-founded the Internet Identity Workshop (IIW).  She has been a key figure in the development of OpenID v2, Information Cards, OAuth v1 and v2, Portable Contacts, the Salmon Protocol, XRD v1, XDI, and Webfinger.

      .one_whole.tip.st_ha
        %h3
          %a{:href => "http://www.linkedin.com/in/sahazel"} Steve <strong>Hazel</strong>
        %h4 Sauce Labs / Bittorrent
        %h4 @sahazel
        %p Steve is a long-time contributor to and architect of leading peer-to-peer systems.  He is the former Director of Engineering for Bittorrent, and a previous engineer at Audiogalaxy and a contributor to Freenet.  Now at Sauce Labs, he leads their effort to bring Selenium, the dominant open-source testing framework, to the cloud.



    .row
      #sa_is.picunit.one_fifth.tipper
        %img{ :alt => "Salim Ismail", :src => "images/advisors/salim-ismail_184x124.jpg" }
        .caption
          %a{:href => "http://salimismail.com/"} Salim <strong>Ismael</strong>
        .caption Singularity U
        .hovertext Click for bio<span class="redtext">.</span>

      #br_ka.picunit.one_fifth.tipper
        %img{ :alt => "Brewster Kahle", :src => "images/advisors/brewster-kahle_184x124.jpg" }
        .caption
          %a{:href => "http://www.archive.org/about/bios.php"} Brewster <strong>Kahle</strong>
        .caption Internet Archive
        .hovertext Click for bio<span class="redtext">.</span>

      #th_lo.picunit.one_fifth.tipper
        %img{ :alt => "Thede loder", :src => "images/advisors/thede_loder_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/thede"} Thede <strong>Loder</strong>
        .caption Boxbe
        .hovertext Click for bio<span class="redtext">.</span>

      #an_lu.picunit.one_fifth.tipper
        %img{ :alt => "Andrea Lunsford", :src => "images/advisors/andrea_lunsford_184x124_bw.jpg" }
        .caption
          %a{:href => "http://www.stanford.edu/~lunsfor1/"} Andrea <strong>Lunsford</strong>
        .caption Stanford
        .hovertext Click for bio<span class="redtext">.</span>

      #er_ma.picunit.one_fifth.last.tipper
        %img{ :alt => "Erik Martin", :src => "images/advisors/erik-martin_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/erikmartin"} Erik <strong>Martin</strong>
        .caption Reddit
        .hovertext Click for bio<span class="redtext">.</span>


    .row
      .one_whole.tip.sa_is
        %h3
          %a{:href => "http://salimismail.com/"} Salim <strong>Ismael</strong>
        %h4 Singularity U
        %h4 @salimismail
        %p Salim has operated seven early stage companies and is a frequent speaker on internet technologies, private equity and entrepreneurship. Salim was the founding Executive Director of Singularity Univ., which is training a new cadre of leaders to manage exponentially growing technologies. Prior to that, Salim was a Vice President at Yahoo and the Head of Brickhouse, Yahoo's internal ideas factory.

      .one_whole.tip.br_ka
        %h3
          %a{:href => "http://www.archive.org/about/bios.php"} Brewster <strong>Kahle</strong>
        %h4 Internet Archive
        %p Brewster studied AI at MIT with Marvin Minsky and Danny Hillis, and later joined Hillis at Thinking Machines where Brewster developed WAIS (sold to AOL).  He later founded the early innovator of page rank, Alexa (sold to Amazon), and simultaneously created the Internet Archive, the non-profit archive of the version history of all web pages (and much more).  More recently he founded the Open Content Alliance to begin digitizing, archiving and providing open access to the worlds texts.

      .one_whole.tip.th_lo
        %h3
          %a{:href => "http://www.linkedin.com/in/thede"} Thede <strong>Loder</strong>
        %h4 Boxbe
        %p Thede Loder is the Founder, Chief Executive Officer, and President at Boxbe, Inc. He founded the firm in 2005. Mr. Loder also serves as an Advisor at Ignite Capital. He focuses on the technology issues of the firm. Mr. Loder is an experienced Entrepreneur, Consultant, Researcher, and Technologist. In 1995, he helped design, build, and launch the popular Match.com consumer dating service. Mr. Loder also co-founded Leverage Information Systems in 1996. From 2002 to 2004, he studied Artificial Intelligence (multi-agent systems) and conducted research in Information Economics as a Fellow in the Socio-Technical Infrastructure for Electronic Transactions (STIET) program at the Univ. of Michigan.

      .one_whole.tip.an_lu
        %h3
          %a{:href => "http://www.stanford.edu/~lunsfor1/"} Andrea <strong>Lunsford</strong>
        %h4 Stanford
        %p Andrea is Stanford Univ.'s Director of the Program in Writing and Rhetoric PWR. During her remarkable career, she has revolutionized the way that college students learn how to write, research, and present arguments.  Andrea has served as Chair of the Conference on College Composition and Communication (CCCC), as Chair of the Modern Language Association Division on Writing, and as a member of the MLA Executive Council.  Andrea is also the force behind the large-scale Stanford Study of Writing. The longitudinal study that investigated how todays students write by analyzing 14,672 writing samples, including everything from in-class assignments, formal essays, and journal entries to emails, blog posts, and chat sessions.

      .one_whole.tip.er_ma
        %h3
          %a{:href => "http://www.linkedin.com/in/erikmartin"} Erik <strong>Martin</strong>
        %h4 Reddit
        %h4 @hueypriest
        %p Erik is the General Manager of Reddit, the self-proclaimed “front page of the Internet”. Erik took over the reins of Reddit in 2008 from the original founders and has been responsible for managing it through it’s extraordinary growth to one of the largest and most influential web properties in the world, with over 2 billion page views a month as of December 2011. Under Martin's lead, Reddit was instrumental in organizing opposition to proposed SOPA and PIPA antipiracy laws, even going dark in protest along with other sites on Jan. 18.'


    .row
      #ni_me.picunit.one_fifth.tipper
        %img{ :alt => "Nicholas Merrill", :src => "images/advisors/nicholas-merrill_184x124.jpg" }
        .caption
          %a{:href => "https://en.wikipedia.org/wiki/Nicholas_Merrill"} Nicholas <strong>Merrill</strong>
        .caption Calyx Institute
        .hovertext Click for bio<span class="redtext">.</span>

      #jo_ne.picunit.one_fifth.tipper
        %img{ :alt => "Johnathan Nelson", :src => "images/advisors/jonathan-nelson_184x124.jpg" }
        .caption
          %a{:href => "http://hackersandfounders.com/"} Johnathan <strong>Nelson</strong>
        .caption Hackers and Founders
        .hovertext Click for bio<span class="redtext">.</span>


      #na_oo.picunit.one_fifth.tipper
        %img{ :alt => "Nate Oostendorp", :src => "images/advisors/nate-oostendorp_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/nateoostendorp"} Nate <strong>Oostendorp</strong>
        .caption Slashdot
        .hovertext Click for bio<span class="redtext">.</span>

      #ru_po.picunit.one_fifth.tipper
        %img{ :alt => "Rufus Pollock", :src => "images/advisors/rufus-pollock_184x124.jpg" }
        .caption
          %a{:href => "http://rufuspollock.org/about/"} Rufus <strong>Pollock</strong>
        .caption Open Knowledge Fdn.
        .hovertext Click for bio<span class="redtext">.</span>

      #dr_re.picunit.one_fifth.last.tipper
        %img{ :alt => "Drummond Reed", :src => "images/advisors/drummond-reed_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/drummondreed/"} Drummond <strong>Reed</strong>
        .caption Connect.me
        .hovertext Click for bio<span class="redtext">.</span>


    .row
      .one_whole.tip.ni_me
        %h3
          %a{:href => "https://en.wikipedia.org/wiki/Nicholas_Merrill"} Nicholas <strong>Merrill</strong>
        %h4 Calyx Institute
        %p Nicholas Merrill is the founder of Calyx Internet Access and the Calyx Institute. He was the first person to file a constitutional challenge against the National Security Letters statute in the USA PATRIOT Act. After receiving a National Security Letter NSL from the FBI, he sued the FBI and Department of Justice and became the plaintiff in the historic lawsuit Doe v. Ashcroft, which persisted through four US Attorney Generals and resulted in a precedent setting victory. As a result of the original NSL, Merrill was gagged from speaking publicly for over six years.

      .one_whole.tip.jo_ne
        %h3
          %a{:href => "http://hackersandfounders.com/"} Johnathan <strong>Nelson</strong>
        %h4 Hackers and Founders
        %h4 @hackersandfounders
        %p Jonathan is the founder of Hackers and Founders, an organization now with over 15,000 members in cities all around the world that brings together coders, entrepreneurs and innovators.  Jonathan has an inspiring vision for how HF can open-source, disrupt and invert the process of forming teams, founding companies, finding capital and learning about everything from coding to business operations.  Its inspiring, and it will most definitely change everything about the startup process as we know it.

      .one_whole.tip.na_oo
        %h3
          %a{:href => "http://www.linkedin.com/in/nateoostendorp"} Nate <strong>Oostendorp</strong>
        %h4 Slashdot
        %h4 @nateoostendorp
        %p Nate was the technical co-founder of Slashdot, which has become a canonical example of how to do online reputation well.  Nate is now the founder of Ingenuitas which intends to open-source the manufacturing process, by building open tools for collaboration around computer vision, data acquisition and robotics.

      .one_whole.tip.ru_po
        %h3
          %a{:href => "http://rufuspollock.org/about/"} Rufus <strong>Pollock</strong>
        %h4 Open Knowledge Fdn.
        %h4 @rufuspollock
        %p Dr. Rufus Pollock is co-Founder and Director of the Open Knowledge Foundation, makers of the open source AnnotateIt bookmarklet.  Rufus is also a Shuttleworth Foundation Fellow, and an Associate of the Centre for Intellectual Property and Information Law at the Univ. of Cambridge. He has worked extensively as a scholar and developer on the social, legal and technological issues related to the creation and sharing of knowledge.

      .one_whole.tip.dr_re
        %h3
          %a{:href => "http://www.linkedin.com/in/drummondreed/"} Drummond <strong>Reed</strong>
        %h4 Connect.me
        %h4 @drummondreed
        %p Drummond is a long time leader and innovator in the fields of Open Identity (OpenID), Data Portability, and structured data standards.  He is cochair of the XRI and XDI Technical Committees under OASIS, and a steering committee member of DataPortability.org.  His depth of knowledge of the history, evolution and future direction of standards in identity and related domains is unmatched.  He is also a co-founder of connect.me, an innovative new social vouching service.


    .row
      #pa_re.picunit.one_fifth.tipper
        %img{ :alt => "Paul Resnick", :src => "images/advisors/paul-resnick_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/pub/paul-resnick/b/b3a/679"} Paul <strong>Resnick</strong>
        .caption Univ. of Michigan
        .hovertext Click for bio<span class="redtext">.</span>

      #mi_ro.picunit.one_fifth.tipper
        %img{ :alt => "Mikael Rogers", :src => "images/advisors/mikeal-rogers_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/mikealrogers"} Mikael <strong>Rogers</strong>
        .caption Pouch
        .hovertext Click for bio<span class="redtext">.</span>

      #ro_sa.picunit.one_fifth.tipper
        %img{ :alt => "Rob Sanderson", :src => "images/advisors/rob-sanderson_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>
        .caption Los Alamos Ntl. Lab.
        .hovertext Click for bio<span class="redtext">.</span>

      #gi_so.picunit.one_fifth.tipper
        %img{ :alt => "Gigi Sohn", :src => "images/advisors/gigi-sohn_184x124.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/gigibsohn"} Gigi <strong>Sohn</strong>
        .caption Public Knowledge
        .hovertext Click for bio<span class="redtext">.</span>

      #ma_su.picunit.one_fifth.last.tipper
        %img{ :alt => "Mark Surman", :src => "images/advisors/mark-surman_184x124.jpg" }
        .caption
          %a{:href => "http://commonspace.wordpress.com/about/"} Mark <strong>Surman</strong>
        .caption Mozilla Fdn.
        .hovertext Click for bio<span class="redtext">.</span>


    .row
      .one_whole.tip.pa_re
        %h3
          %a{:href => "http://www.linkedin.com/pub/paul-resnick/b/b3a/679"} Paul <strong>Resnick</strong>
        %h4 Univ. of Michigan
        %p Few people have more experience with the theory and practice of reputation systems than Paul Resnick.  Over the course of his career at the Univ. of Michigan he has helped shape reputation into a mature field of study, and has nurtured a generation of students in the area.

      .one_whole.tip.mi_ro
        %h3
          %a{:href => "http://www.linkedin.com/in/mikealrogers"} Mikael <strong>Rogers</strong>
        %h4 Pouch
        %h4 @mikeal
        %p Mikeal is a leading contributor to the open source Node.js project.  He currently is involved in a stealth project called Pouch.  Previously he was the first employee of CouchOne, a principal of Mitch Kapors Open Source Applications Foundation, and a developer at Mozilla.

      .one_whole.tip.ro_sa
        %h3
          %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>
        %h4 Los Alamos Ntl. Laboratory
        %p Dr Robert Sanderson is the co-chair of the W3C Community Group on Open Annotation, and principal editor of the Open Annotation specification.  He is a scientist at Los Alamos National Laboratory's Research Library, and was previously a lecturer in Computer Science at the Univ. of Liverpool.  He obtained his PhD in 2003, and his research interests include digital humanities and technical architectures for scholarly communication.

      .one_whole.tip.gi_so
        %h3
          %a{:href => "http://www.linkedin.com/in/gigibsohn"} Gigi <strong>Sohn</strong>
        %h4 Public Knowledge
        %p Gigi is the co-founder and president of Public Knowledge, a non-profit dedicated to preserving the public’s access to knowledge, promoting creativity through balanced copyright, and upholding and protecting the rights of consumers to use innovative technology lawfully. As PK’s chief strategist, fundraiser and public face, she is frequently quoted in the New York Times, Washington Post and Wall Street Journal, as well as in trade and local press and has appeared on numerous television and radio programs, including the Today Show, The McNeil-Lehrer Report, C-SPAN’s Washington Journal and National Public Radio’s All Things Considered and Morning Edition. In May 2006, the Electronic Frontier Foundation gave Gigi its Internet “Pioneer” Award.

      .one_whole.tip.ma_su
        %h3
          %a{:href => "http://commonspace.wordpress.com/about/"} Mark <strong>Surman</strong>
        %h4 Mozilla Fdn.
        %h4 @msurman
        %p Mark is the Executive Director of the Mozilla Foundation. He has been an active technologist and community builder for almost 20 years, including stints as an Open Philanthropy Fellow at the Shuttleworth Foundation, and the founding director of telecentre.org, a $26m effort to network community technology activists in countries around the world.


    %h2.sectitle Reputation Fellows<span class="redtext">:</span>

    .row
      #mi_ca.picunit.one_fifth.tipper
        %img{ :alt => "Michele Catasta", :src => "images/fellows/michele-catasta.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/pirroh"} Michele <strong>Catasta</strong>
        .caption EPFL
        .hovertext Click for bio<span class="redtext">.</span>

      #er_da.picunit.one_fifth.tipper
        %img{ :alt => "Ernesto Damiani", :src => "images/fellows/ernesto-damiani.jpg" }
        .caption
          %a{:href => "http://olaf.crema.unimi.it/"} Ernesto <strong>Damiani</strong>
        .caption Univ. of Milan
        .hovertext Click for bio<span class="redtext">.</span>

      #lu_al.picunit.one_fifth.tipper
        %img{ :alt => "Luca de Alfaro", :src => "images/fellows/luca-de-alfaro.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/lucadealfaro"} Luca <strong>de Alfaro</strong>
        .caption UC Santa Cruz
        .hovertext Click for bio<span class="redtext">.</span>

      #ch_de.picunit.one_fifth.tipper
        %img{ :alt => "Chris Dellarocas", :src => "images/fellows/chris-dellarocas.jpg" }
        .caption
          %a{:href => "http://dellarocas.com/"} Chris <strong>Dellarocas</strong>
        .caption Boston Univ.
        .hovertext Click for bio<span class="redtext">.</span>

      #do_do.picunit.one_fifth.last.tipper
        %img{ :alt => "Doug Downey", :src => "images/fellows/doug-downey.jpg" }
        .caption
          %a{:href => "http://www.cs.northwestern.edu/~ddowney/"} Doug <strong>Downey</strong>
        .caption Northwestern U.
        .hovertext Click for bio<span class="redtext">.</span>


    .row
      .one_whole.tip.mi_ca
        %h3
          %a{:href => "http://www.linkedin.com/in/pirroh"} Michele <strong>Catasta</strong>
        %h4 EPFL
        %h4 @pirroh
        %p Michele was in the founding team of Sindice.com, currently the largest search engine for the Semantic Web. As the lead data engineer, he developed a passion for making sense out of large [semantically-annotated] Web datasets -- a passion that has become a vocation while interning for Google and Yahoo! Research. As a PhD Candidate at EPFL, Michele is now working with Prof. Karl Aberer on rethinking user profiling: from a mere tool to enhance the Web experience, to a looking glass into all the facets of your personality.

      .one_whole.tip.er_da
        %h3
          %a{:href => "http://olaf.crema.unimi.it/"} Ernesto <strong>Damiani</strong>
        %h4 Univ. of Milan
        %h4 @edamiani064
        %p Ernesto Damiani is a professor at the Universiti degli Studi di Milano, Italy, and the director of the Univ.'s Ph.D. program in computer science. Ernesto has worked a lot on the connection between the notion of reputation and the one of trust among cooperating agents at different degrees of rationality. Nowadays, he is leading some projects on hybrid incentives - and technology-based techniques for controlling knowledge sharing and improving knowledge quality. Ernesto would like to bring this perspective to a scheme for increasing the trustworthiness of resources available on the global Net.

      .one_whole.tip.lu_al
        %h3
          %a{:href => "http://www.linkedin.com/in/lucadealfaro"} Luca <strong>de Alfaro</strong>
        %h4 Univ. of California
        %h4 @lucadealfaro
        %p Reputation systems have been my main research and development interest in the last few years. After three years at Google, I am back at UC Santa Cruz, where I am continuing work on reputation systems, ranking, and crowdsourcing. I am also helping establish a research operation at UCSC Silicon Valley, with the goal of providing a better link between UCSC and Silicon Valley. I have written extensive software, both at Google, and at UCSC, being one of the main authors of the WikiTrust codebase. I am also knowledgeable in developing for the web, hosting, scalability, and architecture (site architecture) issues. I have consulted for several start-ups, and most recently I am providing technical and scientific advice to VoiceBase.

      .one_whole.tip.ch_de
        %h3
          %a{:href => "http://dellarocas.com/"} Chris <strong>Dellarocas</strong>
        %h4 Boston Univ.
        %h4
          %a@Dellarocas
        %p Chris has devoted a large part of his academic career at MIT, the Univ. of Maryland and, now, Boston Univ., to the study of reputation systems, online reviews and collective intelligence. He has served as advisor to several startup ventures in this space. His writings and ideas have influenced a generation of scholars and practitioners worldwide.

      .one_whole.tip.do_do
        %h3
          %a{:href => "http://www.cs.northwestern.edu/~ddowney/"} Doug <strong>Downey</strong>
        %h4 Northwestern Univ.
        %p Doug focuses on research in machine learning (ML), with a particular focus on extracting information from the World Wide Web. He's excited about developing ML methods for automatically estimating annotator expertise and specialization in Hypothes.is, and conversely investigating how Hypothes.is annotation at Web-scale might enable fundamentally new ML capabilities.


    .row
      #su_ga.picunit.one_fifth.tipper
        %img{ :alt => "Susan Gauch", :src => "images/fellows/susan-gauch.jpg" }
        .caption
          %a{:href => "http://csce.uark.edu/~sgauch/"} Susan <strong>Gauch</strong>
        .caption Univ. of Arkansas
        .hovertext Click for bio<span class="redtext">.</span>

      #ra_ju.picunit.one_fifth.tipper
        %img{ :alt => "Radu Jurca", :src => "images/fellows/radu-jurca.jpg" }
        .caption
          %a{:href => "http://www.radujurca.info/"} Radu <strong>Jurca</strong>
        .caption Google Zurich
        .hovertext Click for bio<span class="redtext">.</span>

      #jo_ri.picunit.one_fifth.tipper
        %img{ :alt => "John Riedl", :src => "images/fellows/john-riedl.jpg" }
        .caption
          %a{:href => "http://www-users.cs.umn.edu/~riedl/"} John <strong>Riedl</strong>
        .caption Univ. of Minnesota
        .hovertext Click for bio<span class="redtext">.</span>

      #ad_sc.picunit.one_fifth.tipper
        %img{ :alt => "Adam Scislowicz", :src => "images/fellows/adam-scislowicz.jpg" }
        .caption
          %a{:href => "http://www.linkedin.com/in/adamscislowicz"} Adam <strong>Scislowicz</strong>
        .caption Kor ventures
        .hovertext Click for bio<span class="redtext">.</span>

      #ba_sh.picunit.one_fifth.last.tipper
        %img{ :alt => "Bayle Shanks", :src => "images/fellows/bayle-shanks.jpg" }
        .caption
          %a{:href => "http://bayleshanks.com/"} Bayle <strong>Shanks</strong>
        .caption PieTrust
        .hovertext Click for bio<span class="redtext">.</span>


    .row
      .one_whole.tip.su_ga
        %h3
          %a{:href => "http://csce.uark.edu/~sgauch/"} Susan <strong>Gauch</strong>
        %h4 Univ. of Arkansas
        %p Susan is an expert in intelligent search who developed one of the first meta-search engines (ProFusion) and one of the first video search engines (VISION). She is a leading expert and well-published author on the use of ontologies in personalized search. Her current research focuses on personalization in the CiteSeerx project and searching in virtual worlds. Susan is the Rodger S. Kline Leadership Chair, Professor, and Head at the Univ. of Arkansas.

      .one_whole.tip.ra_ju
        %h3
          %a{:href => "http://www.radujurca.info/"} Radu <strong>Jurca</strong>
        %h4 Google Zurich
        %p Radu Jurca obtained the Ph.D. degree in Computer Science from Ecole Polytechnique Federale de Lausanne (EPFL) in 2007. His work on reputation mechanisms was awarded the Victor Lesser Distinguished Dissertation Award (2008) and EPFL's Best Thesis Award (2008). Radu later joined Google, where for the last 4 years he worked on various problems like geographical information retrieval, ranking user-generated content, reputation models for data sources, and general data-mining techniques.

      .one_whole.tip.jo_ri
        %h3
          %a{:href => "http://www-users.cs.umn.edu/~riedl/"} John <strong>Riedl</strong>
        %h4 Univ. of Minnesota
        %p In 1992 John co-founded the GroupLens project on recommender systems, and has been co-directing it since. He also co-founded Net Perceptions, the leading recommender systems company during the first Internet boom.  In GroupLens he has been leading the way in understanding how intelligent user interfaces can help online communities work and play together more happily.<br><br>He has been named Fellow of the ACM and IEEE, and is founding co-editor-in-chief of the ACM Transactions on Interactive Intelligent Systems journal. He has co-authored Best Paper winners at the IUI, WikiSym (twice), CSCW, and Data Engineering conferences. John has also received the MIT Sloan School Award for Innovation in E-Commerce, the Computer Science teaching award (four times) and the George Taylor Award for Exceptional Contributions to Teaching. Riedl has authored over 100 publications, including one book and many papers.

      .one_whole.tip.ad_sc
        %h3
          %a{:href => "http://www.linkedin.com/in/adamscislowicz"} Adam <strong>Scislowicz</strong>
        %h4 Kor ventures
        %p [NEED BIO]

      .one_whole.tip.ba_sh
        %h3
          %a{:href => "http://bayleshanks.com/"} Bayle <strong>Shanks</strong>
        %h4 PieTrust
        %h4
          %a{:href => "https://twitter.com/#!/bshanks"} @bshanks
        %p Bayle is the founder of PieTrust, an Open Company developing a collusion-resistant reputation system. The system can be used to make decisions in which the most respected people have the most weight, to make payments proportional to reputation, to trade services using reputation as form of compensation, or to assess the knowledge or skill levels of individuals via peer evaluation. Bayle's background is in cognitive studies, particularly artificial intelligence and neuroscience.
