#who.page
  .topspacer
  %h1.sectitle Core Development Team<span class="redtext">:</span>

  .row
    .picunit.one_third
      %img{ :alt => "Randall Leeds", :src => "images/team/randall-leeds.png" }
      %div
        %a{:href => "http://bleeds.info/"} Randall <strong>Leeds</strong>

      %div Code

    .picunit.one_third
      %img{ :alt => "Jehan Tremback", :src => "images/team/jehan-tremback.jpg" }
      %div
        %a{:href => "http://jehantremback.com/"} Jehan <strong>Tremback</strong>

      %div Design

    .picunit.one_third.last
      %img{ :alt => "Dan Whaley", :src => "images/team/dan-whaley.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/danwhaley"} Dan <strong>Whaley</strong>

      %div Product

  %h2.sectitle Advisors and Collaborators<span class="redtext">:</span>


  .row
    .picunit.one_fifth
      %img{ :alt => "Boris Aleksandrovsky", :src => "images/advisors/boris-aleksandrovsky_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/baleksan"} Boris <strong>Aleksandrovsky</strong>

      %div Flipboard

    .picunit.one_fifth
      %img{ :alt => "Jeff Atwood", :src => "images/advisors/jeff-atwood_184x124.jpg" }
      %div
        %a{:href => "http://www.codinghorror.com/blog/2004/02/about-me.html"} Jeff <strong>Atwood</strong>

      %div StackExchange

    .picunit.one_fifth
      %img{ :alt => "John Perry Barlow", :src => "images/advisors/john-perry-barlow_184x124.jpg" }
      %div
        %a{:href => "https://projects.eff.org/~barlow/"} John Perry <strong>Barlow</strong>

      %div EFF

    .picunit.one_fifth
      %img{ :alt => "Charles Bazerman", :src => "images/advisors/charles-bazerman_184x124b.jpg" }
      %div
        %a{:href => "http://education.ucsb.edu/bazerman/"} Charles <strong>Bazerman</strong>

      %div UC Santa Barbara

    .picunit.one_fifth.last
      %img{ :alt => "Phil Bourne", :src => "images/advisors/phil-bourne_184x124_bw.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/pub/phil-bourne/0/921/b98"} Phil <strong>Bourne</strong>

      %div UC San Diego / PLoS

  .row
    .picunit.one_fifth
      %img{ :alt => "Adam Christian", :src => "images/advisors/adam-christian_184x124.jpg" }
      %div
        %a{:href => "http://www.adamchristian.com/"} Adam <strong>Christian</strong>

      %div Sauce Labs / Slide

    .picunit.one_fifth
      %img{ :alt => "John W. DuBois", :src => "images/advisors/jack-dubois-184x124.jpg" }
      %div
        %a{:href => "http://www.linguistics.ucsb.edu/people/dubois.html"} John W. <strong>DuBois</strong>

      %div UC Santa Barbara

    .picunit.one_fifth
      %img{ :alt => "Kathleen Fitzpatrick", :src => "images/advisors/kathleen-fitzpatrick_184x124.jpg" }
      %div
        %a{:href => "http://mediacommons.futureofthebook.org/users/kfitz"} Kathleen <strong>Fitzpatrick</strong>

      %div MLA / MediaCommons

    .picunit.one_fifth
      %img{ :alt => "Kaliya Hamlin", :src => "images/advisors/kaliya-hamlin_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/kaliya"} Kaliya <strong>Hamlin</strong>

      %div Internet Identity Workshop

    .picunit.one_fifth.last
      %img{ :alt => "Steve Hazel", :src => "images/advisors/steven-hazel_184x124_bw.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/sahazel"} Steve <strong>Hazel</strong>

      %div Sauce Labs / Bitorrent


  .row
    .picunit.one_fifth
      %img{ :alt => "Salim Ismail", :src => "images/advisors/salim-ismail_184x124.jpg" }
      %div
        %a{:href => "http://salimismail.com/"} Salim <strong>Ismael</strong>

      %div Singularity U

    .picunit.one_fifth
      %img{ :alt => "Brewster Kahle", :src => "images/advisors/brewster-kahle_184x124.jpg" }
      %div
        %a{:href => "http://www.archive.org/about/bios.php"} Brewster <strong>Kahle</strong>

      %div Internet Archive

    .picunit.one_fifth
      %img{ :alt => "Thede loder", :src => "images/advisors/thede_loder_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/thede"} Thede <strong>Loder</strong>

      %div Boxbe

    .picunit.one_fifth
      %img{ :alt => "Andrea Lunsford", :src => "images/advisors/andrea_lunsford_184x124_bw.jpg" }
      %div
        %a{:href => "http://www.stanford.edu/~lunsfor1/"} Andrea <strong>Lunsford</strong>

      %div Stanford

    .picunit.one_fifth.last
      %img{ :alt => "Erik Martin", :src => "images/advisors/erik-martin_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/erikmartin"} Erik <strong>Martin</strong>

      %div Reddit


  .row
    .picunit.one_fifth
      %img{ :alt => "Nicholas Merrill", :src => "images/advisors/nicholas-merrill_184x124.jpg" }
      %div
        %a{:href => "https://en.wikipedia.org/wiki/Nicholas_Merrill"} Nicholas <strong>Merrill</strong>

      %div Calyx Institute


    .picunit.one_fifth
      %img{ :alt => "Johnathan Nelson", :src => "images/advisors/jonathan-nelson_184x124.jpg" }
      %div
        %a{:href => "http://hackersandfounders.com/"} Johnathan <strong>Nelson</strong>

      %div Hackers and Founders

    .picunit.one_fifth
      %img{ :alt => "Nate Oostendorp", :src => "images/advisors/nate-oostendorp_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/nateoostendorp"} Nate <strong>Oostendorp</strong>

      %div Slashdot

    .picunit.one_fifth
      %img{ :alt => "Rufus Pollock", :src => "images/advisors/rufus-pollock_184x124.jpg" }
      %div
        %a{:href => "http://rufuspollock.org/about/"} Rufus <strong>Pollock</strong>

      %div Open Knowledge Fdn.

    .picunit.one_fifth.last
      %img{ :alt => "Drummond Reed", :src => "images/advisors/drummond-reed_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/drummondreed/"} Drummond <strong>Reed</strong>

      %div Connect.me


  .row
    .picunit.one_fifth
      %img{ :alt => "Paul Resnick", :src => "images/advisors/paul-resnick_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/pub/paul-resnick/b/b3a/679"} Paul <strong>Resnick</strong>

      %div Univ. of Michigan

    .picunit.one_fifth
      %img{ :alt => "Mikael Rogers", :src => "images/advisors/mikeal-rogers_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/mikealrogers"} Mikael <strong>Rogers</strong>

      %div Pouch

    .picunit.one_fifth
      %img{ :alt => "Rob Sanderson", :src => "images/advisors/rob-sanderson_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/pub/robert-sanderson/1/172/5a6"} Rob <strong>Sanderson</strong>

      %div Los Alamos Ntl. Laboratory

    .picunit.one_fifth
      %img{ :alt => "Gigi Sohn", :src => "images/advisors/gigi-sohn_184x124.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/gigibsohn"} Gigi <strong>Sohn</strong>

      %div Public Knowledge

    .picunit.one_fifth.last
      %img{ :alt => "Mark Surman", :src => "images/advisors/mark-surman_184x124.jpg" }
      %div
        %a{:href => "http://commonspace.wordpress.com/about/"} Mark <strong>Surman</strong>

      %div Mozilla Fdn.





  %h2.sectitle Reputation Fellows<span class="redtext">:</span>

  .row
    .picunit.one_fifth
      %img{ :alt => "Michele Catasta", :src => "images/fellows/michele-catasta.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/pirroh"} Michele <strong>Catasta</strong>

      %div EPFL

    .picunit.one_fifth
      %img{ :alt => "Ernesto Damiani", :src => "images/fellows/ernesto-damiani.jpg" }
      %div
        %a{:href => "http://olaf.crema.unimi.it/"} Ernesto <strong>Damiani</strong>

      %div University of Milan

    .picunit.one_fifth
      %img{ :alt => "Luca de Alfaro", :src => "images/fellows/luca-de-alfaro.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/lucadealfaro"} Luca <strong>de Alfaro</strong>

      %div University of California

    .picunit.one_fifth
      %img{ :alt => "Chris Dellarocas", :src => "images/fellows/chris-dellarocas.jpg" }
      %div
        %a{:href => "http://dellarocas.com/"} Chris <strong>Dellarocas</strong>

      %div Boston University

    .picunit.one_fifth.last
      %img{ :alt => "Doug Downey", :src => "images/fellows/doug-downey.jpg" }
      %div
        %a{:href => "http://www.cs.northwestern.edu/~ddowney/"} Doug <strong>Downey</strong>

      %div Northwestern University


  .row
    .picunit.one_fifth
      %img{ :alt => "Susan Gauch", :src => "images/fellows/susan-gauch.jpg" }
      %div
        %a{:href => "http://csce.uark.edu/~sgauch/"} Susan <strong>Gauch</strong>

      %div University of Arkansas

    .picunit.one_fifth
      %img{ :alt => "Radu Jurca", :src => "images/fellows/radu-jurca.jpg" }
      %div
        %a{:href => "http://www.radujurca.info/"} Radu <strong>Jurca</strong>

      %div Google Zurich

    .picunit.one_fifth
      %img{ :alt => "John Riedl", :src => "images/fellows/john-riedl.jpg" }
      %div
        %a{:href => "http://www-users.cs.umn.edu/~riedl/"} John <strong>Riedl</strong>

      %div University of Minnesota

    .picunit.one_fifth
      %img{ :alt => "Adam Scislowicz", :src => "images/fellows/adam-scislowicz.jpg" }
      %div
        %a{:href => "http://www.linkedin.com/in/adamscislowicz"} Adam <strong>Scislowicz</strong>

      %div Kor ventures

    .picunit.one_fifth.last
      %img{ :alt => "Bayle Shanks", :src => "images/fellows/bayle-shanks.jpg" }
      %div
        %a{:href => "http://bayleshanks.com/"} Bayle <strong>Shanks</strong>

      %div PieTrust
