#workshop.page
  .topspacer
  %h1.sectitle
    Reputation Workshop<span class="redtext">.</span>
  .row

    .picunit.one_whole
      %img{ :alt => "Reputatio Workshop", :src => "images/fort_mason_center.jpg" }
      %div
        %span February 22-24, 2012
      %div
        %span Fort Mason Center [Map]
      %div
        %span San Francisco, CA
      %div
        %a{:href => "https://twitter.com/#!/search/realtime/%23repcon" } #repcon

  %h2.sectitle
    Overview<span class="redtext">:</span>
  .row
    .one_whole
      %p One of the most important parts of our design is the reputation model that will underpin the system. A reputation model is a way for a user community to collectively regulate and calibrate the contributions of its members. This is a well-established field of study, encompassing many years of academic research and with numerous examples of working systems deployed in the real world.
      %p Thanks to a generous grant from the Alfred P. Sloan Foundation we hosted a Workshop on February 22-24, 2012 in San Francisco at the Fort Mason Center, in order to share with and learn from key members of the academic, non-profit, and commercial sectors who research and use reputation systems.

  %h2.sectitle
    Output<span class="redtext">:</span>
  .row
    .one_whole
      %p
        The workshop produced a variety of materials.
    .one_whole
      %script{:src => "http://storify.com/hypothes_is/hypothes-is-reputation-workshop-2.js"}
