#workshop.grid

  .topspacer
    %h1
      Hypothes.is Reputation Workshop
    %hr
  .content
    .workshop_pic
    %h2
      Overview
    %hr
    .row
      .slot-0-1-2-3-4
        <p>One of the most important parts of our design is the <a href="http://en.wikipedia.org/wiki/Reputation_system" title="Reputation system - Wikipedia">reputation model</a> that will underpin the system. A reputation model is a way for a user community to collectively regulate and calibrate the contributions of its members. This is a well-established field of study, encompassing many years of academic research and with numerous examples of working systems deployed in the real world.</p><p>Thanks to a generous grant from the Alfred P. Sloan Foundation we are hosting a <a href="http://hypothes.is/docs/repworkshop.pdf" title="Hypothes.is Reputation Model Workshop">Workshop</a>, on February 22-24 in San Francisco at the <a href="http://www.fortmason.org/assets/File/FMC_AmCup_Request%20for%20Interest.pdf">Fort Mason Center</a>, in order to share with and learn from key members of the academic, non-profit, and commercial sectors who research and use reputation systems.</p><p>We'll spend an interactive three days of dialogue and white-boarding, together and in breakout groups, with the objective of providing key insights, feedback and guidance to Hypothes.is in developing our draft design.</p>
