#imagine.page

  .topspacer
  %h1.sectitle
    Imagine<span class="redtext">...</span>

  .home.accordion
    .row
      .one_whole
        %p.em
          If wherever we encountered new information, sentence by sentence, frame by frame, we could easily know the best thinking on it.
        %p.em
          If we had confidence that this represented the combined wisdom of the most informed people&mdash;not as anointed by editors, but as weighed over time by our peers, objectively, statistically and transparently.
        %p.em
          If this created a powerful incentive for people to ensure that their works met a higher standard, and made it perceptibly harder to spread information that didn't meet that standard.
        %p
          These goals are possible with today's technologies.
        %p
          They are the objectives of Hypothes.is.
        %a#us_re.tipper Reserve your username.
        %form#register_form.two_thirds.us_re.tip
          #availability_status
          %label{:for => "username", :style => "display: none;"} Choose a Username.
          %input#username.clearFocus{:name => "username", :type => "text", :placeholder => "Choose a Username"}
          %label{:for => "email", :style => "display: none;"} Enter your email.
          %input#email{:name => "email", :type => "text", :placeholder => "Enter your email."}
          %label{:for => "email2", :style => "display: none;"} Confirm your email.
          %input#email2{:name => "email2", :type => "text", :placeholder => "Confirm your email."}
          %input.button{:name => "button", :type => "submit", :value => "Save my username"}

    .spacer

    .row
      .one_fifth
        %a{ :href => "https://twitter.com/#!/hypothes_is" }
          .twitbird

    .row
      .four_fifths
        #tweets
        %a.morelink{ :href => "https://twitter.com/#!/hypothes_is" } More...
