- content_for :head do
  %title Hypothes.is | The Internet, peer reviewed.
#press.page

  .topspacer
  %h1.sectitle Press<span class="redtext">:</span>

  .press
    .pressunit.first
      .row
        .picunit.one_fourth
          %a{:href => "http://www.readwriteweb.com/archives/hypothesis.php"}
            %img{ :src => "images/press/rww2.png" }
          .caption
            %span March 2, 2012
        .text.three_fourths.last
          %h3 Read Write Web<span class="redtext">:</span>
          %a.strong{:href => "http://www.readwriteweb.com/archives/hypothesis.php"} How We're Going to Fix Online Identity and Reputation
          %div.em "There are two fundamental, related cultural problems with the Web that Hypothes.is wants to address: identity and reputation. Reputation is the main problem, but you can't approach it without fixing identity."

    .pressunit
      .row
        .picunit.one_fourth
          %a{:href => "http://www.readwriteweb.com/archives/the_internet_will_get_a_peer_review_layer_next_yea.php"}
            %img{ :src => "images/press/rww1.png" }
          .caption
            %span November 19, 2011
        .text.three_fourths.last
          %h3 Read Write Web<span class="redtext">:</span>
          %a.strong{:href => "http://www.readwriteweb.com/archives/the_internet_will_get_a_peer_review_layer_next_yea.php"} The Internet Will Get a Peer Review Layer Next Year
          %div.em "A team of long-time leaders of the Internet community have come together behind Dan Whaley, one of the forefathers of contemporary search engines, to build a system called Hypothes.is..."

    .pressunit
      .row
        .picunit.one_fourth
          %a{:href => "http://researchity.net/2011/11/01/peer-review-should-be-more-like-hypothes-is-than-hypothes-is-should-be-like-peer-review/"}
            %img{ :src => "images/press/researchity1.png" }
          .caption
            %span November 1, 2011
        .text.three_fourths.last
          %h3 Researchity<span class="redtext">:</span>
          %a.strong{:href => "http://researchity.net/2011/11/01/peer-review-should-be-more-like-hypothes-is-than-hypothes-is-should-be-like-peer-review/"} Peer review should be more like Hypothes.is than Hypothes.is should be like peer review!
          %div.em "It suggests that the future reputation and fact checking system of the internet should be more like academic peer review. But that’s the wrong way to look at it. Academic peer review should be more like Hypothes.is."

    .pressunit
      .row
        .picunit.one_fourth
          %a{:href => "http://techcrunch.com/2011/10/31/hypothes-is/"}
            %img{ :src => "images/press/techcrunch1.png" }
          .caption
            %span October 31, 2011
        .text.three_fourths.last
          %h3 TechCrunch<span class="redtext">:</span>
          %a.strong{:href => "http://techcrunch.com/2011/10/31/hypothes-is/"} Hypothes.is: A Kickstarter Project To Peer Review The Web
          %div.em "The Web: never before has there been a medium where it was so easy to find so much information. And never before has so much of it been so wrong. Somebody needs to fact-check the Internet."

    .pressunit
      .row
        .picunit.one_fourth
          %a{:href => "http://www.kurzweilai.net/the-internet-peer-reviewed"}
            %img{ :src => "images/press/kurzweil1.png" }
          .caption
            %span October 28, 2011
        .text.three_fourths.last
          %h3 Kurzweil Accelerating Intelligence<span class="redtext">:</span>
          %a.strong{:href => "http://www.kurzweilai.net/the-internet-peer-reviewed"} The Internet, peer-reviewed
          %div.em "It could be one of the most important innovations on the Internet since the browser. Imagine an open-source, crowd-sourced, community-moderated, distributed platform for sentence-level annotation of the Web..."

    .pressunit
      .row
        .picunit.one_fourth
          %a{:href => "http://www.forbes.com/sites/haydnshaughnessy/2011/10/21/would-your-blog-stand-up-to-criticism-and-should-you-care/"}
            %img{ :src => "images/press/forbes1.png" }
          .caption
            %span  October 21, 2011
        .text.three_fourths.last
          %h3 Forbes<span class="redtext">:</span>
          %a.strong{:href => "http://www.forbes.com/sites/haydnshaughnessy/2011/10/21/would-your-blog-stand-up-to-criticism-and-should-you-care/"} Would Your Blog Stand up To Criticism?
          %div.em "I am therefore going to become a very big fan of hypothes.is. Before hypothes.is launched I was chewing over the problem of peer review. Do we get enough peer review in a world of open communications?"

    .pressunit.last
      .row
        .picunit.one_fourth
          %a{:href => "http://skeptools.wordpress.com/2011/10/21/hypothesis-hypothes-is-crucial-tool-skeptics-peer-review-internet/"}
            %img{ :src => "images/press/skeptools1.png" }
          .caption
            %span October 21, 2011
        .text.three_fourths.last
          %h3 Skeptools<span class="redtext">:</span>
          %a.strong{:href => "http://skeptools.wordpress.com/2011/10/21/hypothesis-hypothes-is-crucial-tool-skeptics-peer-review-internet/"} Hypothes.is could become a crucial tool for skeptics
          %div.em "The Hypothes.is team is approaching it from a broader perspective, beyond that of scientific skepticism. They want to peer review any fact that appears anywhere on the web, on any site."

  //  .pressunit
  //    .row
  //      .picunit.one_fourth
  //        %img{ :src => "00000000" }
  //        %div
  //          %span 000000000000000000
  //      .text.three_fourths.last
  //        %h3 00000000000000<span class="redtext">:</span>
  //        %a.strong{:href => "00000000000000000"} 000000000000000000000
  //        %div.em 000000000000000000000000
