#tweets
  %ul.tweet-list
    %li.first
      %span.tweet-time about 10 days ago
      %span.tweet-text
        Many thanks for a great design review with
        %a.mini-feed-user-link{:href => "http://www.twitter.com/codinghorror"} @codinghorror
        today and
        %a.mini-feed-user-link{:href => "http://www.twitter.com/hueypriest"} @hueypriest
        last night.   cc
        %a.mini-feed-user-link{:href => "http://www.twitter.com/tilgovi"} @tilgovi
        %a.mini-feed-user-link{:href => "http://www.twitter.com/jtremback"} @jtremback
    %li
      %span.tweet-time about 12 days ago
      %span.tweet-text
        Hypothesis Fellow Susan Gauch on her new personalized search engine.
        %a.mini-feed-link{:href => "http://t.co/rKQP8Rlw"} http://t.co/rKQP8Rlw
    %li
      %span.tweet-time about 12 days ago
      %span.tweet-text We're looking for interim space for our team in SF!  Do you have (or know of) a good place for 3-4 folks?  Seeking great people, energy.
    %li
      %span.tweet-time about 21 days ago
      %span.tweet-text
        Our job is to deliver on that promise!  RT
        = succeed ":" do
          %a.mini-feed-user-link{:href => "http://www.twitter.com/JonMwords"} @JonMwords
        From now on, I only annotate the web with
        = succeed "." do
          %a.mini-feed-user-link{:href => "http://www.twitter.com/hypothes_is"} @hypothes_is
    %li
      %span.tweet-time about 46 days ago
      %span.tweet-text
        It is our honor to formally welcome John Perry Barlow and Gerry Percy to the Hypothesis Board of Directors. cc/
        %a.mini-feed-user-link{:href => "http://www.twitter.com/jpbarlow"} @jpbarlow
    %li.last
      %span.tweet-time about 46 days ago
      %span.tweet-text
        Great news.  We've advanced to the next stage!  Down to 51 out of 1078 applications ...
        %a.mini-feed-user-link{:href => "http://www.twitter.com/knightfdn"} @knightfdn
        %a{:href => "http://search.twitter.com/search?q=&tag=newschallenge&lang=all"} #newschallenge
        %a.mini-feed-link{:href => "http://t.co/t82luoHu"} http://t.co/t82luoHu
